/****************************************************************
 *																*		
 * 						      							*
 *                        							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
@import url(public.css);

/*head*/
.head .top{ padding:13px 0; background:#000; height:24px; line-height:24px; color:#FFF; font-family:"宋体";}
.head .top .wrap{ position:relative;}
.head .top a{ color:#FFF;}
.head .top .myfont{ font-size:15px; color:#ccc; display:inline-block;  margin-right:5px;}

.head .tel{ display:inline-block; height:34px; position:absolute; top:0; right:0;}
.head .tel .myfont { font-size:33px; display:inline-block;  margin-right:10px; width:33px; height:33px; line-height:33px; color:#FFF;}
.head .num{ font-family:Arial, Helvetica, sans-serif; font-size:18px; line-height:20px; display:inline-block; height:33px;}
.head .num i{ display:block; font-size:10px; line-height:12px;-webkit-text-size-adjust:none;}

/*nav*/
.header{ height:100px; background:url(../images/header.jpg) no-repeat center;}
.header .logo{ display:block; width:202px; height:77px; background:url(../images/logo.png) no-repeat center; float:left; margin-top:10px;}
.nav{ float:right; width:848px;}
.nav>li{ float:left; width:103px; margin-left:3px; position:relative; z-index:10000;}
.nav>li>a{ display:block; width:100%; height:40px; line-height:40px; font-size:18px; color:#201b17; text-align:center; float:left;}
.nav>li>a:hover,.nav>li.current>a,.nav>li.hover>a{ background:url(../images/navbg.png) no-repeat center; color:#FFF; text-decoration:none;}
.nav>li>.slidenav{ display:none;}
.nav>li:hover>.slidenav{ display:block; padding:5px 0; position:absolute; line-height:24px; top:100%; left:0; white-space:nowrap;}
.nav>li>.slidenav>a{ display:inline-block; margin:0 10px; font-family:"宋体"; font-size:12px;}
.nav>li>.slidenav>a:hover{ color:#960}

/*banner*/
.banner{ background:url(../images/bannerbg.jpg) no-repeat center; height:430px; width:100%;}
.banner .item{ height:430px; width:100%;float:left;}
.banner .slick-prev,.banner .slick-next,.hb-swi .slick-prev,.hb-swi .slick-next{ display:none !important;}


/*main*/
.main{ background:url(../images/main.jpg) no-repeat center; height:525px; width:100%;}
.main #main{ height:100%; position:relative; z-index: 1; }
.hb-swi{ position: absolute; top: 80px; left: 477px; z-index: 1; width: 458px; height: 302px; overflow: hidden;}
.hb-swi .cont,.hb-swi .item{ width:100%; height:100%;}
.hb-swi .item{ float:left;}

.main .txt{ display:block; background-position:center; background-repeat:no-repeat; position:absolute;}
.main .txt a{ display:block; width:100%; height:100%;}
.main .txt1{ width:53px; height:441px; left:0; top:0; background-image:url(../images/txt1.png)}
.main .txt2{ width:92px; height:24px; left:89px; top:9px; background-image:url(../images/txt2.png)}
.main .txt3{ width:194px; height:20px; left:89px; top:44px; background-image:url(../images/txt3.png)}
.main .txt4{ width:231px; height:27px; left:89px; top:79px; background-image:url(../images/txt4.png)}
.main .txt5{ width:32px; height:250px; left:93px; top:131px; background-image:url(../images/txt5.png)}
.main .txt6{ width:341px; height:27px; left:144px; top:128px; background-image:url(../images/txt6.png)}
.main .txt7{ width:282px; height:25px; left:144px; top:167px; background-image:url(../images/txt7.png)}
.main .txt8{ width:290px; height:30px; left:144px; top:205px; background-image:url(../images/txt8.png)}
.main .txt9{ width:237px; height:46px; left:144px; top:265px; background-image:url(../images/txt9.png)}
.main .txt10{ width:279px; height:45px; left:144px; top:327px; background-image:url(../images/txt10.png)}
.main .txt11{ width:633px; height:36px; left:91px; top:405px; background-image:url(../images/txt11.png)}
.main .txt12{ width:29px; height:117px; left:1005px; top:62px; background-image:url(../images/txt12.png)}
.main .txt13{ width:28px; height:117px; left:1053px; top:62px; background-image:url(../images/txt13.png)}
.main .txt14{ width:83px; height:24px; right:0; top:238px; background-image:url(../images/txt14.png)}
.main .txt15{ width:180px; height:30px; right:0; top:271px; background-image:url(../images/txt15.png)}
.main .txt16{ width:169px; height:37px; right:0; top:366px; background-image:url(../images/txt16.png)}
.main .txt17{ width:305px; height:25px; right:0; top:410px; background-image:url(../images/txt17.png)}

.main .txt1:hover{ background-image:url(../images/txt1_w.png)}
.main .txt3:hover{ background-image:url(../images/txt3_w.png)}
.main .txt4:hover{ background-image:url(../images/txt4_w.png)}
.main .txt5:hover{ background-image:url(../images/txt5_w.png)}
.main .txt6:hover{ background-image:url(../images/txt6_w.png)}
.main .txt7:hover{ background-image:url(../images/txt7_w.png)}
.main .txt8:hover{ background-image:url(../images/txt8_w.png)}
.main .txt10:hover{ background-image:url(../images/txt10_w.png)}
.main .txt11:hover{ background-image:url(../images/txt11_w.png)}
.main .txt12:hover{ background-image:url(../images/txt12_w.png)}
.main .txt13:hover{ background-image:url(../images/txt13_w.png)}
.main .txt15:hover{ background-image:url(../images/txt15_w.png)}
.main .txt17:hover{ background-image:url(../images/txt17_w.png)}

.main .note{ height:24px; font-size:14px; width:395px; position:absolute; right:0; top:0;}
.main .glyphicon{ display:block; height:24px; width:90px; float:left; color:#c33}
.main .note-list{ width:305px; height:24px; line-height:24px; overflow:hidden; color:#000; float:right;}
.main .note-list a{ color:#000}

/*form-warp*/
.form-wrap{ background:url(../images/form-wrap.jpg) no-repeat center; height:415px; width:100%;}
.form-wrap .hd{ height:75px; color:#FFF;}
.form-wrap .title{ height:36px; line-height:36px; font-size:24px;}
.form-wrap .title a{ color:#FFF;}
.form-wrap .title .more{ display:inline-block; font-size:12px;}
.fc0{ color:#fc0 !important;}
.form-wrap .form{ width:632px;}
.form-wrap .newsbox{ width:411px;}

.newslist{ height:175px; overflow:hidden;}
.newslist li{ height:25px; line-height:25px; font-size:12px; color:#cfc4b5;}
.newslist li a{ font-size:14px; color:#cfc4b5;}
.newslist .time{ float:right;}

.form-tab{ width:100%; border:1px solid #3b322d;}
.form-tab th,.form-tab td{ height:38px; border:1px solid #3b322d; font-weight:normal;}
.form-tab thead th{ font-size:18px; color:#FFF;}
.form-tab tbody th{ text-align:right; padding:0 5px;}
.form-tab tbody th,.form-tab tbody td{ background:#302822; height:37px; padding:0 5px;}
.form-tab tbody th{ border-right:0 solid #3b322d; width:90px; font-size:12px; color:#cfc4b5 ; font-weight:normal; text-align:right}
.form-tab tbody td{ border-left:0 solid #3b322d; color:#FFF; }
.form-tab .select,.form-tab .inpt{ padding:3px 3px 3px 0; width:152px; height:25px; border: 0 solid #fff; color: #000; background: #fff; border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px;}
.form-tab .label{ display:inline-block; position:relative; height:25; width:152px;}
.form-tab .inpt{padding:0;}
.form-tab .label .txt{ display:block; width:100%; height:100%; text-indent:5px; color:#000; position:absolute; left:0; top:0}

.form-wrap .form-bottom{ height:36px; line-height:36px; color:#FFF;}
.form-wrap .form-bottom .tel{ display:inline-block; margin-left:5px; font-size:24px; vertical-align:middle;}
.form-wrap .form-bottom .submit{ width:100px; height:36px; line-height:36px; border: 0 solid #fff; color: #302721; background: #fc0; border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px; font-size:16px; float:right; }


/*food-show*/
.food-show{ background:url(../images/food-show.jpg) no-repeat center; height:585px; width:100%;}
.food-show .hd{ height:100px;}
.cf271e{ color:#cf271e !important;}
.food-show .title{ width:565px; font-size:36px;}
.food-show .title h1{ height:45px; line-height:45px; display:block; padding-top:10px;}
.food-show .adtxt{ display:inline-block; height:20px; line-height:20px; background:#cf271e; color:#FFF; font-size:12px; padding:0 5px; margin-top:10px;}
.food-show .name{ display:inline-block; font-size:24px; line-height:80px; } 
.food { width:1095px; margin:0 auto;}
.food .item{ width:323px; height:376px; border:6px solid #FFF; box-shadow:0 0 8px rgba(0,0,0,0.12); margin:0 15px; float:left; }



/*foot*/
.foot{ padding:20px 0 100px; background:#191411; color:#FFF;}
.footwrap{ width:745px;}
.footnav{ padding:10px 0; height:20px; line-height:20px; border-bottom:1px solid #332f2b; font-size:14px; margin-bottom:10px;}
.footnav a{ display:inline-block; margin:0 20px;}
.foot a{ color:#FFF;}
.link{ min-height:24px; position:relative; padding-left:60px; color:#960; }
.link .name{ width:60px; display:block; height:24px; position:absolute; left:0; top:0;}
.link a{ display:inline-block; margin:0 5px; color:#960;}
.qrc{ width:155px;}
.qrc img{ display:inline-block; max-width:100%; margin:0; padding:0;}
.fixed{ width:100%; padding:25px 0; height:31px; line-height:31px; text-align:center; color:#FFF; font-size:22px; position:fixed; left:0; bottom:0; background:#960; z-index:100;}
.fixed img{ display:inline-block; vertical-align:middle; margin-left:10px;}

/*inner-banner*/
.inner-banner{ width:100%; height:170px; background:url(../images/inner.jpg) no-repeat center;}

.container{ width:100%; padding-bottom:45px; border-bottom:10px solid #FFF; background:url(../images/container.jpg) repeat-y center top;}
.c-hd{ padding:12px 55px 0 40px; height:53px; line-height:53px; background:url(../images/c1.jpg) no-repeat center top; color:#2c251f; font-size:26px;}
.c-hd img{ display:inline-block; vertical-align:middle; }
.c-hd .c-t{ display:inline-block; height:36px; padding:8px 0 8px 43px; margin-left:10px; line-height:18px; color:#b19365; font-size:12px; background:url(../images/c-t.png) no-repeat left center; vertical-align:middle;}
.c-hd .c-t em{ font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.c-hd .location{ display:inline-block; padding:15px 0; height:23px; line-height:23px; color:#300; font-size:15px;}
.c-hd .location a{ color:#300;}
.c-hd .location em.myfont{ font-size:20px; display:inline-block; margin-right:5px;}
.c-hd .location i.myfont{ font-size:12px; display:inline-block; margin:0 10px;}
.c-hd .location em.on{ color:#900}

.c-wrap{padding:20px 55px 20px 40px; min-height:500px; background:url(../images/c2.jpg) repeat-y center top;}
.c-wrap .local{height:45px; line-height:45px; border-bottom:1px dashed #c19671; font-size:20px; color:#2c251f; margin-bottom:10px; }
.c-wrap .aside{ width:150px;}
.c-wrap .aside{ display:block; margin:0; padding:0;}
.c-wrap .section{ width:813px;}

.c-foot{padding:0 55px 18px 40px; height:41px; line-height:41px; color:#300; font-size:14px; background:url(../images/c3.jpg)  no-repeat center top;}

.cont{ line-height:30px; color:#300; font-size:14px; padding:10px 0;}
.asidebot{ height:35px; background:url(../images/boot.png) no-repeat center top;}
.tt{ height:41px; background:url(../images/tt.jpg) no-repeat center top;}

.sidenav{ border:1px solid #e5d2b2; border-width:0 1px; background:#f0ebe7; padding:5px 0;}
.sidenav li{ padding-bottom:1px; height:35px; line-height:35px; font-size:15px; border-bottom:1px solid #e4e0dc; position:relative;}
.sidenav li a{ display:block; padding-left:15px; color:#333; text-decoration:none;}
.sidenav li:hover a,.sidenav li.current a{ display:block; padding:0 7px 0 22px; width:131px; background:#eb9c13 url(../images/gt.png) no-repeat 132px center; color:#FFF; position:absolute; left:-7px; top:0; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px;}

.Affiliate{ min-height:248px; border-bottom:1px dashed #c19671; background-position:right center; background-repeat:no-repeat; margin-bottom:30px;}
.Affiliate h1{ display:block; height:50px; line-height:50px; font-size:40px; padding:35px 0 20px;}
.Affiliate .c900{ font-style:italic; color:#900; font-size:36px; display:inline-block; vertical-align:middle;}

/*news*/
.news li{ padding: 15px 0; border-bottom:1px dashed #c19671; color:#666;}
.news li .hd{ color:#856e45; height:35px; line-height:35px;}
.news li .hd a{ font-size:16px;}
.news-title{ height:35px; line-height:35px; margin-bottom:20px; font-size:24px;}
.news-title .info{ color:#856e45; font-size:12px;}

/*========== page ==========*/
.page{height:30px; padding:30px 0 20px;}
.page span,.page a{ display:inline-block; border:1px solid #e4e4e4; height:28px; line-height:28px; padding:0 10px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px; margin:0 4px; text-decoration:none;}
.page span,.page a.active,.page a:hover{ color:#FFF; background:#f9ac43; border-color:#f9ac43;}
.page a em{ display:inline-block; width: 0; height: 0; border-top: 4px solid transparent; border-bottom: 4px solid transparent;}
.page a.prev em{border-right: 8px solid #999; margin-right:5px;}
.page a.next em{border-left: 8px solid #999; margin-left:5px;}
.page a.prev:hover em{ border-right-color:#FFF;}
.page a.next:hover em{ border-left-color:#FFF;}

/*展示中心*/ 
.pro dl{ padding:45px 0 30px; border-bottom:1px dashed #c19671; }
.pro dl dt{ width:405px; height:265px; text-align:center; float:left;}
.pro dl dd{ float:right; width:315px; height:185px; padding:20px 30px; color:#300; background:url(../images/963_10.png); font-size:14px;}
.pro dd h1{ display:block; height:45px; line-height:45px; font-size:30px; }
.pro dd .txt{ height:120px; overflow:hidden;}
.pro .label{ height:24px;}
.pro .label label{ display:inline-block; margin-right:30px; vertical-align:middle; height:24px; padding-left:20px; background:url(../images/chk.png) no-repeat left center;}

/*Services*/
.Services{ background:url(../images/sbg.png) repeat-y left top}
.Services dl{ float:left; width:186px; margin:20px 23px 5px 0; text-align:center;}
.Services dl.mr0{ margin-right:0;}
.Services dt{ border:3px solid #FFF; width:180px; height:140px; vertical-align:middle;}
.Services dt img{ max-width:100%; max-height:100%; vertical-align:middle;}
.Services dd{ padding:15px 0; height:24px;}
.Services dd a{ color:#300; font-size:14px}


/*msg*/
.msg{ border-bottom:1px solid #faf7f5; height:200px; position:relative; font-size:14px; color:#900;}
.msg h1{ display:block; font-size:20px; height:45px; line-height:45px; padding-top:35px;}
.msg .edit{ width:176px; height:152px; background:url(../images/edit.png) no-repeat center; position:absolute; top:18px; right:60px;}

.msg-tab{ width:100%;}
.msg-tab th,.msg-tab td,.m-tab th,.m-tab td{ padding:5px;}
.msg-tab th{ font-size:14px; color:#300; text-align:right; width:110px; font-weight:normal;}
.msg-tab .select{width: 100px;  border: 1px solid #dfc1a7; height: 25px; padding: 3px 3px 3px 0; color: #300; background: #fff; border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px;}
.msg-tab .inpt{ width:160px; height:25px; padding:0 3px; border: 1px solid #dfc1a7; background: #fff; border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px; }
.msg-tab .in-b{ display:inline-block; vertical-align:middle; }
.msg-tab .label{ display:block; width:357px; height:107px; position:relative;}
.msg-tab .label .textarea{ width:355px; height:105px; border: 1px solid #dfc1a7; background: #fff; border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px; resize:none; }
.msg-tab .label .txt{ display:block; line-height:24px; height:24px; color:#666; text-indent:10px; position:absolute; left:0; top:5px; width:100%;}
.msg-tab .btn-msg{ width:100px; height:39px; background:#f90; font-size:16px; line-height:39px; border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px;}

/*login*/
.mox{ padding:50px 0;}
.M-section{ width:630px; border-right:1px dashed #c19671; min-height:1px}
.M-aside{ width:315px; color:#666}
.c900{ color:#900 !important;}
.f90{ color:#f90 !important;}
.M-aside .button,.M-section .button{ width:100px; height:34px; line-height:34px; background:#F30; font-size:16px;border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px; text-decoration:none;}
.M-section .button{width:140px; height:40px; line-height:40px; background:#F90; font-size:18px;}
.m-tab th{ width:100px; font-size:16px; text-align:right; color:#000; font-weight:normal;}
.m-tab .inpt{ width:260px; height:38px; padding:0 5px; border:1px solid #dacbbe;border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; -webkit-border-radius: 3px;}
.m-tab td img{ display:inline-block; vertical-align:middle; margin:0 10px;}
.m-tab .Prompt{ display:inline-block; color:#999;}


