/* 格展网络（91084.com）做专业的网站模板、网站建设平台 */
body {
	font-family: "微软雅黑"!important;
	font: 14px Microsoft YaHei!important;
	line-height: 24px;
	background: #f3f1f1;
}
body, div, p, span, ul, li, dl, dd, h1, h2, h3, a, input, img {
	margin: 0;
	padding: 0;
}
li, ol {
	list-style: none;
}
a, input, img, textarea {
	border: none;
	outline: none;
}
i, em {
	font-style: normal;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
.tl {
	text-align: left;
}
.db {
	display: block;
}
.ma {
	margin: 0 auto;
}
.pr {
	position: relative;
}
.pa {
	position: absolute;
}
.pf {
	position: fixed;
}
.transition {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
a {
	text-decoration: none;
	color: #333333;
}
a:focus {
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none!important;
}
.hide {
	display: none
}
.show {
	display: block
}
.modal a {
	outline: none;
}
label {
	font-weight: normal;
	width: 100%;
}
a:focus, a:hover {
	color: #b0344e;
}
a:focus {
	outline: none;
	outline-offset: 0;
}
.container {
	margin: 0 auto;
	padding: 0!important;
}
/*@media (min-width: 1700px){
    #wrap_index .container,#footer .container{width: 100% !important;} 
    #wrap_index .ny_main .container{width: 80% !important;} 
    #wrap_index .ny_prolist .container{width: 94% !important;} 
    
}*/
#wrap_index {
	overflow: hidden;
	position: relative;
}
/*头部*/
#header {
	width: 100%;
	height: 88px;
	top: 0;
	z-index: 4;
}
#header .logo {
	height: 100%;
}
#header .nav_box {
	height: 100%;
}
#header .nav_box .yiji {
	padding: 0 10px;
	height: 100%;
	text-align: center;
	position: relative;
}
#header .nav_box .yiji a {
	color: #ccc;
	display: block;
	line-height: 88px;
	font-size: 14px;
	height: 88px;
	overflow: hidden;
}
#header .nav_box .yiji:hover a, #header .nav_box .yiji.current a {
	color: #fff;
}
#header .nav_box .yiji:hover a span, #header .nav_box .yiji.current a span {
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}
/*手机头部*/
#molheader {
	display: none;
	text-align: center;
	width: 100%;
	height: 90px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 32;
}
#molheader .mol_navbutton {
	position: absolute;
	top: 20px;
	right: 0;
	width: 74px;
	height: 40px;
}
#molheader .mol_navbutton img {
	width: 32%;
}
/*首页banner*/
#banner {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
#banner .carousel-indicators {
	bottom: 46%;
	left: 92%;
	width: 4%;
	margin-left: 0;
	text-align: right;
}
#banner .carousel-indicators li {
	transition: 400ms;
	border: none;
	margin: 10px 0;
	width: 100%;
	height: 10px;
	background: none;
}
#banner .carousel-indicators li span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
}
#banner .carousel-indicators li.active span {
	display: inline-block;
	width: 40px;
	height: 2px;
	margin-bottom: 4px;
	border-radius: 0;
	background: #b0344e;
	transition: 400ms;
}
/*手机banner*/
#molbanner {
	position: relative;
	width: 100%;
	height: 320px;
	overflow: hidden;
	display: none;
}
.swiper-banner {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swiper-banner .banner-img li {
	overflow: hidden;
}
.swiper-banner .banner-img li .pic {
	text-align: center;
	width: 100%;
	height: 100%;
	display: block;
}
.swiper-banner .banner-img li img {
	vertical-align: top;
	height: 320px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.swiper-banner .swiper-dote {
	width: 3%;
	text-align: right;
	position: absolute;
	right: 2%;
	bottom: 44%;
	z-index: 33;
}
.swiper-banner .swiper-dote ul li.swiper-pagination-bullet {
	transition: 400ms;
	border: none;
	width: 8px;
	height: 8px;
	position: relative;
	opacity: 1;
	background: #fff;
}
.swiper-banner .swiper-dote ul li.swiper-pagination-bullet-active {
	width: 100%;
	height: 2px;
	background: #b0344e;
	transition: 400ms;
}
#main {
	width: 100%;
	height: auto;
}
/*关于我们*/
#main .aboutbox {
	width: 100%;
	height: auto;
}
.aboutbox .about_text {
	padding: 38px;
	background: #fff;
	position: relative;
	top: -133px;
	z-index: 30;
}
.aboutbox .about_text:before, .ny_pic:before {
	content: "";
	width: 10px;
	height: 40px;
	background: #333333;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 88;
}
.ab_title {
	width: 100%;
	height: 106px;
	padding-top: 24px;
	font-size: 16px;
	color: #333;
	text-align: center;
	line-height: 32px;
}
.ab_title a {
	color: #333;
}
.ab_title span {
	font-size: 36px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	position: relative;
	padding: 0 70px;
}
.ab_title span:before {
	content: "";
	width: 60px;
	height: 1px;
	background: #333;
	position: absolute;
	left: 0;
	bottom: 14px;
}
.ab_title span:after {
	content: "";
	width: 60px;
	height: 1px;
	background: #333;
	position: absolute;
	right: 0;
	bottom: 14px;
}
.about_dec {
	width: 100%;
	height: 480px;
	padding: 15px 0;
	line-height: 24px;
	overflow: hidden;
}
.about_text .ewb_box {
	padding: 0;
	border-left: 1px solid #333;
	float: right;
}
.about_text .ewb_box p {
	width: 30%;
	line-height: 24px;
	float: left;
	font-size: 12px;
	padding-left: 10px;
	writing-mode: vertical-lr;/* writing-mode: tb-lr;*/
}
.about_text .ewb_box img {
	width: 60%;
	height: auto;
	float: right;
}
.about_text .more {
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	color: #b0344e;
	position: absolute;
	bottom: 30px;
}
.about_text .more:hover {
	border-bottom: 1px solid #b0344e;
}
.about_imgs {
	width: 54%;
	padding: 27px;
	background: #fff;
	position: relative;
	margin-top: 15px;
}
.about_imgs:before {
	content: "";
	border: 11px solid transparent;
	border-right: 11px solid #fff;
	position: absolute;
	left: -22px;
	top: 48.5%;
}
.about_imgs .aimg {
	padding: 13px;
	overflow: hidden;
}
.about_imgs .aimg a {
	display: block;
	width: 100%;
	overflow: hidden;
}
.about_imgs .aimg a img {
	width: 100%;
	height: auto;
	transition: 1s transform;
}
.about_imgs .aimg a:hover img {
	transform: scale(1.1, 1.1);
	transition: 1s transform;
}
/*花艺欣赏*/
.probox {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.picFocus {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	zoom: 1;
	padding: 0;
}
.picFocus .ab_title {
	position: absolute;
	top: 36px;
	left: 36px;
	z-index: 66;
	width: auto;
	min-width: 420px;
}
.picFocus .bd {
	padding: 0;
	height: 700px;
	overflow: hidden;
}
.picFocus .bd ul li {
	width: 100%;
	float: left;
}
.picFocus .bd ul li .pimg, .picFocus .bd ul li .pimg img {
	width: 100%;
}
.picFocus .hd {
	padding: 0;
	overflow: hidden;
	padding-top: 22px;
}
.picFocus .hd ul {
	width: 100%;
	overflow: hidden;
	zoom: 1;
}
.picFocus .hd ul li, .picFocus .hd ul .modil {
	padding: 0 2px;
	position: relative;
}
.picFocus .hd ul li:hover:before, .picFocus .hd ul li.on:before {
	content: "";
	width: 100%;
	height: 5px;
	background: #b0344e;
	position: absolute;
	left: 0;
	bottom: 0;
}
.picFocus .hd ul li .hd_div {
	overflow: hidden;
	cursor: pointer;
}
.picFocus .hd ul li .hd_div img {
	width: 100%;
}
.picFocus .hd ul .title_p {
	padding: 0;
	height: 229px;
	background: #b0344e url("../images/flower.png"/*tpa=http://skk-0505-41.demo.mxyhn.xyz/skin/images/flower.png*/) right bottom no-repeat;
}
.seemore {
	width: 260px;
	height: 42px;
	border-radius: 4px;
	background: #333;
	color: #fff;
	margin: 70px auto;
	text-align: center;
	line-height: 42px;
	transition: 400ms;
}
.seemore a {
	color: #fff;
	display: block;
	width: 100%;
}
.seemore:hover {
	background: #b0344e;
	transition: 400ms;
}
/*师资力量*/
.teachbox .teachlist {
	width: 100%;
	height: auto;
	overflow: hidden;
	top: 0;
	left: 0;
}
.teachbox .teachlist .ab_title {
	padding: 72px 0 40px 0;
	height: auto;
}
.teachlist .ab_title a {
	color: #fff;
}
.teachlist .ab_title span:before, .teachlist .ab_title span:after {
	background: #fff;
}
.carousel-inner .item .teach_li {
	padding: 80px 40px 40px 40px;
}
.teach_li .timg, .teach_li .timg img {
	width: 100%;
	transition: 1s transform;
	overflow: hidden;
}
.teach_li .timg img:hover {
	transform: scale(1.1, 1.1);
	transition: 1s transform;
}
.teach_li .tea_text {
	background: #fff;
	padding: 5% 8%;
}
.teach_li .tea_text p {
	font-size: 36px;
	line-height: 1.5;
	text-transform: uppercase;
	color: #333;
}
.teach_li .tea_text p span {
	display: block;
	font-size: 16px;
}
.teach_li .tea_text .tdec {
	width: 100%;
	height: 250px;
	padding-top: 30px;
	line-height: 1.5;
	overflow: hidden;
}
.teach_li .tea_text .more {
	font-size: 16px;
	color: #b0344e;
}
.teach_li .tea_text .more:hover, .newbox .newlist .news .newtext .more:hover {
	border-bottom: 1px solid #b0344e;
}
.carousel-inner .item .teach_li:nth-child(2) {
	padding: 20px 40px;
}
.teachlist .carousel-indicators {
	bottom: 0;
	width: 100%;
	margin-left: -50%;
	text-align: center;
}
.teachlist .carousel-indicators li {
	border: none;
	margin: 0 6px;
	width: 60px;
	height: 2px;
	background: #fff;
	display: inline-block;
}
.teachlist .carousel-indicators li.active {
	background: #bb0408;
}
/*花艺资讯*/
.newbox, .newbox .newlist {
	height: auto;
	overflow: hidden;
}
.newbox .ab_title {
	padding-top: 70px;
	height: 152px;
}
.newbox .newlist {
	padding-top: 56px;
}
.newbox .newlist .news {
	padding: 0 22px;
}
.newbox .newlist .news .newimg img {
	width: 100%;
}
.newbox .newlist .news .newtext {
	width: 90%;
	margin: 0 auto;
	background: #fff;
	position: relative;
	z-index: 4;
	top: -40px;
	padding: 30px;
}
.newbox .newlist .news .newtext .n_title {
	font-size: 16px;
	font-weight: bold;
	height: 84px;
	line-height: 28px;
	overflow: hidden;
}
.newbox .newlist .news .newtext .n_title span {
	display: block;
	font-size: 12px;
	color: #999;
	font-weight: normal;
}
.newbox .newlist .news .newtext .newdec {
	line-height: 1.5;
	height: 120px;
	overflow: hidden;
	margin: 30px 0;
}
.newbox .newlist .news .newtext .more {
	font-size: 16px;
	color: #b0344e;
}
.newbox .seemore {
	margin: 50px auto;
}
/*页脚*/
#footer {
	background: #313131;
	color: #fff;
	padding-top: 60px;
}
.foot_top {
	padding: 0;
	height: auto;
	overflow: hidden;
	margin-bottom: 14px;
}
.foot_top .foot_nav {
	padding: 0;
}
.foot_top .foot_nav .foot_navtitle {
	padding-left: 0;
	padding-right: 30px;
}
.foot_top .foot_nav .foot_navtitle p {
	font-size: 14px;
	font-weight: bolder;
	height: 30px;
	line-height: 30px;
	margin-bottom: 16px;
}
.foot_top .foot_nav .foot_navtitle a {
	display: block;
	font-size: 12px;
	color: #999;
	height: 24px;
	line-height: 24px;
}
.foot_top .foot_nav .foot_navtitle a:hover, #footer a:hover {
	color: #b0344e;
}
.foot_top .foot_nav .foot_navtitle .f_cont {
	font-size: 12px;
	color: #999;
	line-height: 24px;
}
.foot_top .foot_nav .foot_navtitle .f_cont span {
	font-size: 24px;
	font-weight: bolder;
	color: #f3f1f1;
}
.foot_top .foot_nav .foot_navtitle .f_cont i {
	color: #f3f1f1;
	display: block;
	padding-top: 14px;
}
.foot_ewm {
	padding: 0;
}
.foot_ewm .f_ewm {
	padding-left: 30px;
	padding-right: 0;
	padding-top: 40px;
	font-size: 12px;
	line-height: 30px;
	color: #ccc;
	text-align: center;
}
.foot_ewm .f_ewm img {
	width: 92%;
	padding: 4%;
	background: #fff;
}
#footer .link {
	width: 100%;
	height: 42px;
	line-height: 42px;
	border-top: 1px solid #434343;
	border-bottom: 1px solid #434343;
	font-size: 12px;
	color: #999;
}
#footer .link span {
	font-size: 14px;
	font-weight: bolder;
	color: #f3f1f1;
}
#footer .link a {
	margin: 0 6px;
}
#footer .copy {
	font-size: 12px;
	color: #999;
	line-height: 24px;
	padding: 20px 0;
}
#footer a {
	color: #999;
}
/*首页手机增加模块*/
.mol_probox {
	position: relative;
	width: 100%;
	height: 320px;
	overflow: hidden;
	display: none;
}
.swiper-pro {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.swiper-pro .pro-img li {
	overflow: hidden;
}
.swiper-pro .pro-img li .pic {
	text-align: center;
	width: 100%;
	height: 100%;
	display: block;
}
.swiper-pro .pro-img li img {
	vertical-align: top;
	height: 320px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.swiper-pro .swiper-dotepro {
	width: 3%;
	text-align: right;
	position: absolute;
	right: 2%;
	bottom: 44%;
	z-index: 33;
}
.swiper-pro .swiper-dotepro ul li.swiper-pagination-bullet {
	transition: 400ms;
	border: none;
	width: 8px;
	height: 8px;
	position: relative;
	opacity: 1;
	background: #e4e4ea;
	border: 1px solid #c2c2c2;
	display: block;
	margin: 6px 0;
}
.swiper-pro .swiper-dotepro ul li.swiper-pagination-bullet-active {
	background: #b0344e;
	border: 1px solid #952940;
	transition: 400ms;
}
.mol_teachbox {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
	display: none;
}
.swiper-teach {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-bottom: 20px;
}
.swiper-teach .teach-img li {
	overflow: hidden;
	background: #fff;
}
.swiper-teach .teach-img li .timg img {
	width: 100%;
}
.swiper-teach .teach-img li .tea_text {
	padding: 5% 9%;
}
.swiper-teach .teach-img li .tea_text p {
	font-size: 22px;
	line-height: 1.5;
	text-transform: uppercase;
	color: #333;
	font-weight: bold;
}
.swiper-teach .teach-img li .tea_text p span {
	display: block;
	font-size: 14px;
	font-weight: normal;
}
.swiper-teach .teach-img li .tea_text .tdec {
	width: 100%;
	height: 200px;
	padding-top: 16px;
	line-height: 1.5;
	color: #333;
	overflow: hidden;
}
.swiper-teach .teach-img li .tea_text .more {
	font-size: 16px;
	color: #b0344e;
	padding: 15px 0;
}
.swiper-teach .swiper-dotetea {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 33;
}
.swiper-teach .swiper-dotetea .swiper-pagination-bullet {
	transition: 400ms;
	border: none;
	width: 10%;
	height: 2px;
	position: relative;
	opacity: 1;
	background: #fff;
	border-radius: 0;
}
.swiper-teach .swiper-dotetea .swiper-pagination-bullet-active {
	background: #bb0408;
	transition: 400ms;
}
/*手机底部*/
.mol_foot {
	padding: 8px 14px;
	background: #fff;
	font-size: 16px;
	color: #666;
	line-height: 1.5;
	position: relative;
	margin-bottom: 70px;
}
.mol_foot .back-top {
	width: 65px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 10px;
	color: #b0344e;
	font-weight: bold;
	background: url("../images/top.png"/*tpa=http://skk-0505-41.demo.mxyhn.xyz/skin/images/top.png*/) right center no-repeat;
	animation: bounce-down 1.5s linear infinite;
}
@-webkit-keyframes bounce-down {
25% {
-webkit-transform: translateY(-2px);
}
50%, 100% {
-webkit-transform: translateY(0);
}
75% {
-webkit-transform: translateY(2px);
}
}
 @keyframes bounce-down {
25% {
transform: translateY(-2px);
}
50%, 100% {
transform: translateY(0);
}
75% {
transform: translateY(2px);
}
}
.mol_botnav {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	text-align: center;
	background: #282828;
	padding: 0;
	z-index: 99;
	padding-top: 8px;
}
.mol_botnav a {
	width: 16.6666%;
	height: 60px;
	color: #fff;
	float: left;
}
.mol_botnav a i {
	display: block;
	width: 24px;
	height: 24px;
	margin: 4px auto;
}
.mol_botnav a i img {
	width: 100%;
}
/*关于我们*/
#header_ny {
	width: 100%;
	height: 116px;
	position: relative;
}
#header_ny:before {
	content: "";
	width: 100%;
	height: 2px;
	background: #e7e7e7;
	position: absolute;
	top: 77px;
	left: 0;
}
#header_ny .nav {
	height: 77px;
	padding: 0;
	padding-top: 17px;
}
.head_ny .yiji {
	position: relative;
}
.head_ny .yiji .one {
	color: #666;
	display: block;
	height: 60px;
	line-height: 60px;
	text-align: center;
	overflow: hidden;
}
.head_ny .yiji:hover .one, .head_ny .yiji.in .one {
	font-weight: bold;
	color: #333;
}
.head_ny .yiji .libox {
	display: none;
	text-align: center;
	width: 540px;
	height: 40px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 60px;
	z-index: 6;
}
.head_ny .yiji .libox a {
	display: inline-block;
	width: auto;
	color: #666;
	font-size: 12px;
	line-height: 39px;
	height: 39px;
	margin: 0 5px;
}
.head_ny .yiji .libox a:hover {
	color: #b0344e;
	border-bottom: 1px solid #b0344e;
}
.head_ny .yiji.in .libox {
	display: block;
}
#banner_ny {
	position: relative;
}
#banner_ny img {
	width: 100%;
	height: inherit;
}
#banner_ny .pos_title {
	width: 100%;
	height: 106px;
	padding-top: 24px;
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 32px;
	position: absolute;
	top: 40%;
}
#banner_ny .pos_title span {
	font-size: 36px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	position: relative;
	padding: 0 70px;
}
#banner_ny .pos_title span:before {
	content: "";
	width: 60px;
	height: 1px;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: 14px;
}
#banner_ny .pos_title span:after {
	content: "";
	width: 60px;
	height: 1px;
	background: #fff;
	position: absolute;
	right: 0;
	bottom: 14px;
}
#main_ny {
	width: 100%;
	height: auto;
	padding-bottom: 40px;
}
.address {
	position: relative;
	height: 124px;
	padding: 50px 0 50px 24px;
	line-height: 24px;
}
.address:before {
	content: "";
	width: 16px;
	height: 1px;
	background: #434343;
	position: absolute;
	bottom: 58px;
	left: 0;
}
.address a {
	color: #434343;
	margin: 0 2px;
}
.address a:hover, .address a:last-child {
	color: #b0344e;
}
/*new*/
.lists, .lists ul {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.lists ul.newlist li {
	padding: 0 8px 64px 8px;
}
.lists ul.newlist li .nimg {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.lists ul.newlist li .nimg img {
	width: 100%;
}
.lists ul.newlist li .newtext {
	padding: 3%;
	background: #fff;
}
.lists ul.newlist li .newtext dd {
	border-bottom: 1px dashed #bfbfbf;
	padding-bottom: 4px;
}
.lists ul.newlist li .newtext dd a {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
}
.lists ul.newlist li .newtext dd span {
	font-size: 12px;
	color: #999;
	padding: 4px 0;
	display: block;
}
.lists ul.newlist li .newtext dt {
	width: 100%;
	height: 48px;
	line-height: 24px;
	font-weight: normal;
	margin: 16px 0;
	overflow: hidden;
}
.lists ul.newlist li .newtext .more {
	font-size: 16px;
	color: #b0344e;
}
.page {
	width: 100%;
	height: 40px;
}
.page a {
	display: inline-block;
	width: 138px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #bfbfbf;
	color: #333;
	margin: 0 8px;
}
.page a.prev {
	padding-left: 10px;
	background: url("../images/prev.png"/*tpa=http://skk-0505-41.demo.mxyhn.xyz/skin/images/prev.png*/) 34px 15px no-repeat;
}
.page a.next {
	padding-right: 10px;
	background: url("../images/next.png"/*tpa=http://skk-0505-41.demo.mxyhn.xyz/skin/images/next.png*/) 94px 15px no-repeat;
}
.page a:hover {
	background-color: #fff;
}
/*newdet*/
#main_ny .art_title {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: 1px dashed #bfbfbf;
	font-size: 24px;
	line-height: 1.5;
	padding-bottom: 10px;
}
#main_ny .art_title span {
	display: block;
	font-size: 12px;
	color: #999;
}
.chose_art {
	width: 100%;
	height: 48px;
	line-height: 24px;
	padding-top: 24px;
	border-top: 1px dashed #bfbfbf;
}
.chose_art a {
	display: block;
	height: 24px;
	overflow: hidden;
}
.chose_art a.prev {
	padding-left: 20px;
	background: url("../images/p.png"/*tpa=http://skk-0505-41.demo.mxyhn.xyz/skin/images/p.png*/)left center no-repeat;
}
.chose_art a.next {
	padding-right: 20px;
	background: url("../images/n.png"/*tpa=http://skk-0505-41.demo.mxyhn.xyz/skin/images/n.png*/)right center no-repeat;
	text-align: right;
}
/*pro*/
#posnav_ny .carousel-inner {
	overflow: unset;
}
#posnav_ny .carousel {
	z-index: 9;
}
#posnav_ny .item {
	padding: 0 52px;/*overflow: hidden;*/
}
#posnav_ny .item .city {
	padding: 0 5px;
	position: relative;
}
#posnav_ny .item .city .ernav {
	display: none;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: absolute;
	padding: 0 6px;
	left: 0;
	z-index: 8;
}
#posnav_ny .item .city .ernav a {
	width: 100%;
	border: none;
	background: #f3f1f1;
}
#posnav_ny .item .city .ernav a:hover {
	border: none;
	background: #b0344e;
	color: #fff;
}
#posnav_ny .item .city a {
	display: block;
	width: 99%;
	height: 38px;
	line-height: 38px;
	border: 1px solid #d2d2d2;
	text-align: center;
	color: #333;
}
#posnav_ny .item .city a:hover, #posnav_ny .item .city.on a {
	border: 1px solid #901e36;
	color: #fff;
	background: #b0344e;
}
#posnav_ny .s-prev, #posnav_ny .s-next {
	width: 38px;
	height: 38px;
	display: block;
	border: 1px solid #d2d2d2;
	top: 0;
	font-size: 30px;
	font-family: "幼圆";
	background: none;
	color: #333;
}
#posnav_ny .s-prev {
	left: 0;
}
#posnav_ny .s-next {
	right: 0;
}
.lists ul.prolist li {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin: 50px 0;
	background: #fff;
	position: relative;
}
.lists ul.prolist li .pimg {
	padding: 0;
	overflow: hidden;
	text-align: center;
}
.lists ul.prolist li .pimg img {
	width: 100%;
}
.lists ul.prolist li .protext {
	padding: 20px 30px;
}
.lists ul.prolist li .protext dd a {
	display: block;
	font-size: 36px;
	width: 100%;
	height: 45px;
	line-height: 40px;
	overflow: hidden;
	margin: 10px 0;
}
.lists ul.prolist li .protext dd span {
	font-size: 16px;
}
.lists ul.prolist li .protext dt {
	line-height: 1.5;
	width: 100%;
	height: 84px;
	font-size: 14px;
	font-weight: normal;
	margin: 40px 0;
	overflow: hidden;
}
.lists ul.prolist li .more {
	font-size: 16px;
	color: #b0344e;
	position: absolute;
	right: 30px;
	bottom: 20px;
}
.lists ul.prolist li.li2 .pimg {
	float: right;
}
.lists ul.prolist li.li2 .more {
	right: 52%;
}
.mol_citybox {
	padding: 0 36px;
	width: 100%;
	height: 38px;
	margin: 0 auto;
	position: relative;
}
.mol_citybox .swiper-city ul li {
	height: 36px;
	line-height: 36px;
	border: 1px solid #d2d2d2;
	text-align: center;
	color: #333;
	position: relative;
}
.mol_citybox .swiper-city ul li a {
	display: block;
	width: 100%;
	height: 100%;
}
.mol_citybox .s-prev, .mol_citybox .s-next {
	background: #f3f1f1;
	width: 36px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #d2d2d2;
	font-size: 26px;
	font-family: "幼圆";
	text-align: center;
	position: absolute;
	top: 22px;
	background-image: none;
}
.mol_citybox .s-prev {
	left: 0;
}
.mol_citybox .s-next {
	right: 0;
}
.mol_citybox .swiper-container {
	overflow: unset;
}
.mol_citybox .swiper-city ul li .mol_ernav {
	display: none;
	background: #f3f1f1;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: absolute;
	top: 35px;
	left: 0;
}
.mol_citybox .swiper-city ul li .mol_ernav a {
	display: block;
	width: 100%;
	height: 36px;
	line-height: 36px;
}
.mol_citybox .swiper-city ul li .mol_ernav a:hover {
	background: #b0344e;
	color: #fff;
}
/*prolist2*/
.prolist2 {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding-top: 30px;
}
.prolist2 li {
	overflow: hidden;
	padding: 20px 10px;
}
.prolist2 li .pimg img {
	width: 100%;
}
.prolist2 li p {
	width: 100%;
	line-height: 1.5;
	padding-top: 8px;
	font-size: 16px;
	border-bottom: 1px solid #f3f1f1;
	padding-bottom: 6px;
}
.prolist2 li:hover p {
	border-bottom: 1px solid #b0344e;
	color: #b0344e;
}
/*prodec*/
.prodecbox {
	width: 54%;
	height: auto;
	margin: 40px auto;
	position: relative;
}
.prodecbox .swiper-pdec ul li img {
	width: 100%;
	border: 3px solid #fff;
}
.prodecbox .s-prev, .prodecbox .s-next {
	width: 60px;
	height: 36px;
	line-height: 36px;
	font-size: 25px;
	color: #999;
	text-align: center;
	position: absolute;
	top: 50%;
	background-image: none;
}
.prodecbox .s-prev {
	left: -40px;
}
.prodecbox .s-next {
	right: -40px;
}
.teach_name {
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
}
.reads {
	width: 100%;
	padding: 20px 0;
}
.reads span {
	display: block;
	height: 30px;
	line-height: 30px;
	color: #b0344e;
}
.reads a {
	display: block;
	width: 100%;
	height: 24px;
	line-height: 1.6;
	overflow: hidden;
	margin: 4px 0;
}
/*panle导航开始*/
.left_nav {
	width: 280px;
	height: 100%;
	z-index: 7;
	background: #313131;
	position: fixed;
	top: 0px;
	left: 0px;
	color: #f0f0f0;
	z-index: 44;
}
.left_nav .class-top {
	height: 70px;
	overflow: hidden;
	margin: 0;
	font-size: 24px;
	line-height: 70px;
	padding-left: 26px;
}
.left_nav .class-close {
	width: 34px;
	height: 34px;
	line-height: 34px;
	margin: 16px 10px 0 0;
	float: right;
	display: block;
	text-align: center;
	font-size: 24px;
	color: #a1a1a1;
	border: 1px solid #3f3f3f;
	border-radius: 50%;
}
.class-m {
	height: 88%;
	overflow-y: auto;
}
.opacity2 {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.5);
	z-index: 40;
	display: none;
}
.overflow {
	height: 100%;
	overflow: hidden;
}
.class-m .nnav {
	width: 280px;
	height: auto;
	overflow: hidden;
	padding: 10px 0;
}
.class-m .nnav li {
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #373737;
}
.class-m .nnav li a.ce {
	padding-left: 26px;
	color: #ccc;
	font-size: 16px;
	display: block;
	height: 60px;
	line-height: 60px;
}
.menu_head .ericon {
	color: #ccc;
	width: 40px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	float: right;
	display: inline;
	font-size: 20px;
	position: relative;
	z-index: 3;/*background: #d55342;border-radius: 50%;*/
}
.menu_head .ericon .icon1 {
	display: none;
}
.menu_head .ericon.xz .icon1 {
	display: block;
}
.menu_head .ericon.xz .icon2 {
	display: none;
}
.class-m .nnav li .menu_body {
	display: none;
}
.class-m .nnav li .menu_body li {
	border-bottom: none;
}
.menu_body li a.er {
	padding-left: 40px;
	font-size: 14px;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #999;
}
.menu_body .thricon {
	color: #999;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: right;
	display: inline;
	font-size: 20px;
	position: relative;
	z-index: 3;
}
.menu_body .thricon .icont1 {
	display: none;
}
.menu_body .thricon.tz .icont1 {
	display: block;
}
.menu_body .thricon.tz .icont2 {
	display: none;
}
.class-m .nnav li .thr_body {
	display: none;
}
.class-m .nnav li .thr_body li {
	border-bottom: none;
	padding: 0;
}
.thr_body li a.thr {
	position: relative;
	padding-left: 60px;
	font-size: 14px;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #666;
}
/*panle导航结束*/
.page-prev {
	transform: translate3d(-280px, 0, 0);
	-ms-transform: translate3d(-280px, 0, 0);
	-webkit-transform: translate3d(-280px, 0, 0);
	-o-transform: translate3d(-280px, 0, 0);
	-moz-transform: translate3d(-280px, 0, 0);
}
.page-next {
	transform: translate3d(280px, 0, 0);
	-ms-transform: translate3d(280px, 0, 0);
	-webkit-transform: translate3d(280px, 0, 0);
	-o-transform: translate3d(280px, 0, 0);
	-moz-transform: translate3d(280px, 0, 0);
}
.page-active {
	transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}
.page-in {
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-ms-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
.page-out {
	-webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
	-ms-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
	transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
}
/*分享开始*/
.newsclass {
	width: 100%;
	height: 145px;
	padding-top: 15px;
	position: fixed;
	bottom: -145px;
	left: 0px;
	z-index: 9999;
	background: #f5f5f5;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.show {
	transform: translate(0px, -145px);
	-ms-transform: translate(0px, -145px);
	-webkit-transform: translate(0px, -145px);
	-o-transform: translate(0px, -145px);
	-moz-transform: translate(0px, -145px);
}
.share-cance {
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	background: rgba(0,0,0,0.05);
	text-align: center;
	margin-top: 10px;
}
.share-con {
	width: 100%;
	height: 85px;
	overflow: hidden;
}
.share-con a {
	height: 85px;
	width: 80px;
	display: block;
	float: left;
	overflow: hidden;
	text-align: center;
}
.share-con a .title {
	height: 25px;
	overflow: hidden;
	color: #333
}
 @media (min-width: 1200px) and (max-width: 1699px) {
.aboutbox .about_text {
	top: -64px;
}
}
@media (min-width: 1200px) and (max-width: 1210px) {
#footer .container {
	width: 1150px;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
.aboutbox .about_text {
	top: -30px;
}
.about_dec {
	height: 308px;
}
.about_imgs {
	padding: 12px;
}
.picFocus .hd ul .title_p {
	height: 184px;
}
.carousel-inner .item .teach_li {
	padding: 70px 20px 30px 20px
}
.carousel-inner .item .teach_li:nth-child(2) {
	padding: 10px 20px;
}
.teach_li .tea_text .tdec {
	height: 264px;
}
.foot_top .foot_nav .foot_navtitle .f_cont span {
	font-size: 18px;
}
.foot_ewm .f_ewm {
	padding-left: 20px;
}
.address {
	height: 84px;
	padding: 30px 0 30px 24px;
}
.address:before {
	bottom: 36px;
}
.picFocus .bd {
	height: 566px;
}
}
 @media (max-width: 991px) {
/*#header,#banner,.about_imgs,.about_text .more,.picFocus .bd,.picFocus .hd,#myCarousel2,.newbox .newlist .news:nth-child(3),#footer{display: none;}
   #molbanner,#molheader,.mol_probox,.mol_teachbox,.mol_foot,.mol_botnav{display: block!important;}*/
#main .aboutbox {
	width: 94%;
	margin: 0 auto;
}
.aboutbox .about_text {
	top: -20px;
	padding: 18px;
}
.ab_title {
	padding-top: 0px;
	height: 72px;
	line-height: 1.5;
}
.ab_title span {
	font-size: 24px;
	padding: 0 46px;
	line-height: 1.5;
}
.ab_title span:before, .ab_title span:after {
	width: 40px;
	bottom: 7px;
}
.about_dec {
	height: 230px;
}
.about_text .ewb_box {
	width: 100%;
	padding: 0 38%;
	border-left: none;
	margin-top: 10px;
	float: none;
}
.about_text .ewb_box p {
	float: none;
	width: 100%;
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #333;
	writing-mode: horizontal-tb;
	line-height: 1.5;
	padding: 8px 0;
	font-size: 14px;
}
.about_text .ewb_box img {
	width: 100%;
}
.picFocus .ab_title {
	left: 0;
	top: 15px;
	min-width: 100%;
}
.seemore {
	margin: 18px auto;
	width: 94%;
}
.aboutbox .seemore {
	margin: 0;
	margin-bottom: 24px;
	margin-left: 3%;
}
.newbox .newlist {
	padding-top: 28px;
}
.newbox .newlist .news:nth-child(1) {
	padding: 0;
	padding-right: 8px;
}
.newbox .newlist .news:nth-child(2) {
	padding: 0;
	padding-left: 8px;
}
.newbox .newlist .news .newtext {
	padding: 10px;
}
.newbox .newlist .news .newtext .newdec {
	height: 108px;
	margin: 14px 0;
}
.newbox .seemore {
	margin: 0;
	margin-bottom: 16px;
	margin-left: 3%;
	margin-top: -20px;
}
#banner_ny {
	height: 300px;
}
#banner_ny img {
	height: 300px;
	width: auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.lists ul.prolist li .protext dd span {
	font-size: 14px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.aboutbox .about_text {
	width: 94%;
}
.about_text .ewb_box {
	margin-top: 20px;
}
.about_text .ewb_box p {
	font-size: 16px;
}
.seemore {
	margin: 24px auto;
}
.teachbox {
	height: 710px;
}
.teachbox .teachlist .ab_title {
	padding: 10px 0 16px 0;
}
.teach_bg {
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
}
.teach_bg img {
	vertical-align: top;
	height: 600px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.newbox .newlist .news {
	width: 50%;
}
.lists ul.prolist li .protext dd a {
	margin: 0;
	font-size: 28px;
}
.lists ul.prolist li .protext dt {
	margin: 32px 0;
}
#footer {
	padding-top: 46px;
}
.foot_top .foot_nav .foot_navtitle {
	padding-right: 4px;
}
.foot_top .foot_nav .foot_navtitle .f_cont span {
	font-size: 18px;
}
.foot_ewm .f_ewm {
	padding-left: 4px;
}
}
@media (max-width: 767px) {
/*#molheader img{width: 100px;}*/
.teachbox {
	height: 560px;
}
.teachbox .teachlist .ab_title {
	padding: 40px 0 26px 0;
}
.teach_bg {
	position: relative;
	width: 100%;
	height: 480px;
	overflow: hidden;
}
.teach_bg img {
	vertical-align: top;
	height: 480px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
#banner_ny .pos_title {
	font-size: 14px;
	top: 40%;
	line-height: 14px;
}
#banner_ny .pos_title span {
	font-size: 24px;
	height: 36px;
	line-height: 36px;
}
#main_ny {
	padding: 3%;
}
.address {
	padding: 10px 0 30px 24px;
	height: 64px;
}
.address:before {
	bottom: 37px;
}
.lists ul.newlist li {
	padding: 0 8px 34px 8px;
}
.lists ul.newlist li .newtext dd a {
	font-size: 14px;
}
#main_ny .art_title {
	font-size: 16px;
}
.lists ul.prolist li {
	margin: 30px 0;
}
.lists ul.prolist li .pimg img {
	width: auto;
	height: 160px;
}
.lists ul.prolist li .protext {
	padding: 10px 20px;
}
.lists ul.prolist li .protext dd a {
	margin: 0;
	font-size: 24px;
	height: 30px;
	line-height: 30px;
}
.lists ul.prolist li .protext dt {
	margin: 9px 0;
	height: 42px;
}
.lists ul.prolist li .more {
	bottom: 10px;
	right: 10px;
}
.prodecbox {
	width: 78%;
	margin: 28px auto;
}
.teach_name {
	font-size: 16px;
}
}
@media (max-width: 600px) {
#molbanner, #molbanner img {
	height: 210px;
}
}
 @media (max-width: 414px) {
#molbanner, #molbanner img {
	height: 160px;
}
}
 @media (max-width: 320px) {
.ab_title span {
	font-size: 20px;
}
.about_text .ewb_box {
	padding: 0 33%;
}
.swiper-teach .teach-img li .tea_text p {
	font-size: 16px;
}
.swiper-teach .teach-img li .tea_text .tdec {
	font-size: 12px;
}
.teachbox {
	height: 450px;
}
.teach_bg, .teach_bg img {
	height: 384px;
}
.swiper-teach .teach-img li .tea_text .tdec {
	height: 146px;
}
.newbox .newlist .news .newtext .n_title {
	font-size: 14px;
	line-height: 22px;
	height: 76px;
}
.newbox .newlist .news .newtext .newdec {
	height: 68px;
	margin: 10px 0;
}
.left_nav .class-top {
	font-size: 20px;
}
.class-m .nnav li a.ce {
	font-size: 14px;
}
.page a {
	width: 118px;
	height: 34px;
	line-height: 34px;
}
.page a.prev {
	background: url("../images/prev.png"/*tpa=http://skk-0505-41.demo.mxyhn.xyz/skin/images/prev.png*/) 28px 11px no-repeat;
}
.page a.next {
	background: url("../images/next.png"/*tpa=http://skk-0505-41.demo.mxyhn.xyz/skin/images/next.png*/) 86px 11px no-repeat;
}
.prodecbox {
	width: 80%;
	margin: 20px auto;
}
.teach_name {
	font-size: 14px;
}
}
/*pages*/ .pagination-wrapper {
	clear: both;
	padding: 1em 0 2em 0;
	text-align: center;
}
.pagination {
	display: inline-block;
*display: inline;
*zoom: 1;
	font-size: 12px;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
	list-style: none;
	display: inline;
	float: left;
	line-height: 1em;
	text-decoration: none;
	border: 1px solid #ddd;
	border-left-width: 0;
}
.pagination li a {
	display: inline-block;
	padding: .5em .8em;
	background-color: #f9f9f9;
	color: #999;
}
.pagination li a:link {
	background: #fff;
	color: #4C78A5;
}
.pagination li a:hover {
	text-decoration: none;
}
.pagination li a:link:hover {
	color: #000;
}
.pagination li.thisclass {
	background-color: #f9f9f9;
	color: #999;
}
.pagination li:first-child {
	border-left-width: 1px;
	border-radius: 3px 0 0 3px;
}
.pagination li:last-child {
	border-radius: 0 3px 3px 0;
}
.pagination .pageinfo {
	color: #444;
}
