@charset "utf-8";

.theme-popover-mask{z-index:99;position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.7;filter:alpha(opacity=70);-moz-opacity:0.7;display:none;}
.theme-popover{z-index:99;position:fixed;top:0;left:50%;width:600px;min-height:200px;margin:13% 0 0 -300px;border-radius:4px;background-color:#fff;display:none;box-shadow:0 0 10px #000;behavior: url(PIE/PIE.htc);}
.theme-poptit{padding:10px;position:relative;height:24px; margin-bottom:10px;}
.theme-poptit .close{float:right;color:#999;padding:5px;margin:-2px -5px -5px;font:bold 14px/14px simsun;text-shadow:0 1px 0 #ddd}
.theme-poptit .close:hover{color:#444;}
.theme-popbod{
	padding: 0px 15px;
	color: #444;
	margin-bottom: 30px;
	min-height: 80px;
	max-height: 320px;
	overflow: auto;
}
/*----------------------------------------------*/
.theme2-popover-mask{z-index:99;position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;display:none;}
.theme2-popover{z-index:99;position:fixed;top:0;left:50%;width:780px;min-height:200px;margin:5% 0 0 -390px;background-color:#fff;display:none;}
.theme2-poptit{
	padding: 15px;
	position: relative;
	background-color: #EFEFEF;
	font-size: 18px;
	color: #000;
}
.theme2-poptit .close{float:right;color:#999;padding:5px;margin:-2px -5px -5px;font:bold 18px/18px simsun;}
.theme2-poptit .close:hover{color:#444;}
.theme2-popbod{
	padding: 15px;
	color: #444;
	min-height: 80px;
}
/*----------------------------------------------*/
.theme3-popover-mask{z-index:99;position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.7;filter:alpha(opacity=70);-moz-opacity:0.7;display:none;}
.theme3-popover{z-index:99;position:fixed;top:50%;left:50%;width:600px; text-align:center;height:460px;margin:-230px 0 0 -300px;display:none;}
.theme3-poptit .close{ position: absolute; right:10px; top:10px;color:#999;font:bold 14px/14px simsun;text-shadow:0 1px 0 #ddd; z-index:1000;}
.theme3-popbod {
	color: #000;
	position:relative;
}
.theme3-text {
	width:100%;
	font-size:18px;
	position:absolute;
	left:0%;
	top:120px;
}
.theme3-popbod.no .theme3-text {
	top:210px;
}
.theme3-click {
	color: #FFDF33;
	background-color: #E93925;
	height: 40px;
	width: 120px;
	border: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	position: absolute;
	left: 50%;
	top: 255px;
	margin-left: -65px;
	cursor: pointer;
	font-size: 16px;
}
.theme3-click:hover {
	background-color: #DA2916;
}
.theme3-click:active {
	background-color: #C12413;
}