/** Common section heading style **/
.section_heading{
    text-align: center;
    padding: 0 30px;
}
.section_heading h1,
.section_heading h2{
    position: relative;
	font-size:30px;
	text-transform:uppercase;
}
hr.hr-heading-bottom {
    width: 80px;
    margin: 0;
    display: inline-block;
    margin-bottom: 3px;
	border-top: 1px solid #dfdfdf;
}
hr.hr-heading-bottom:first-child {
    margin-right: 4px;
}
hr.hr-heading-bottom:last-child {
    margin-left: 4px;
}
.section_heading p{ 
  width: 45%;
  margin: auto;
  margin-bottom: 75px; 
  letter-spacing: 0.4px;
  text-align: center;
}
.section_heading.has-background h1,
.has-background h1,
.section_heading.has-background h2,
.has-background .section_heading h2,
.has-background h2{
  color:#f4f4f4;
}
.has-background .section_heading p,
.section_heading.has-background p{
  color: #d6d6d6;
}
.section_heading .no-bg-heading, .no-bg-heading{
  background:none!important;
}
.section_heading.no-bg-heading h2:before{
 display:none; 
}
.section_heading .no-bg-heading h1,.no-bg-heading h1,
.section_heading .no-bg-heading h2,.no-bg-heading h2{
  margin-bottom:25px!important;
}
/** Common section heading style End **/

.slider-section h1 {
  text-align: center;
  line-height: 360px;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}
.slider-section h1 span {
  color: #ec3d3d;
  font-weight: 700;
}

.border-bottom {
border-bottom: 1px solid #dfdfdf;
}

.main-content {
  padding: 125px 0 0;
}

.scrollspy .nav{
  border: 1px solid #e7e7e7;
  border-bottom: 0;
}



.scrollspy .nav li:last-child {
  border-bottom: 0;
}





.scrollspy .nav>li a {
  font-size: 14px;
  text-transform: capitalize;
  color: #767676;
  display: block;
  padding: 10px 15px;
  border-bottom: 1px solid #e7e7e7;
   -webkit-transition      : all 0.7s ease 0s;
  -moz-transition      : all 0.7s ease 0s;
  -o-transition      : all 0.7s ease 0s;
  transition      : all 0.7s ease 0s;
}

.scrollspy .nav>li:focus a, 
.scrollspy .nav>li:hover a{
  background-color: transparent;
}
.scrollspy .nav>li{
  border-left: 5px solid transparent;
}
.scrollspy .nav>li.active,
.scrollspy .nav>li:hover
{
  border-left: 5px solid #f04c4d;
}



 


.main-content {

}

.accordion-section.section-widget  {
  padding-top: 0;
} 

.section-widget h1,
.section-widget h2 {
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: capitalize;
}


/*************************************************************
             ACCORDION SECTION
**************************************************************/

div#accordions {
    padding-top: 0;
}
.section-title-md{
font-size:30px;
font-weight:700;
text-transform:uppercase;
}
.accordion-deafult{
}
.accordion-deafult .panel{
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
margin:0;
}
.accordion-deafult .panel-heading{
background:#fff;
padding:0;
border-bottom:none;
border:1px solid #e7e7e7;
border-radius:0;
margin-bottom:-3px;
}
.accordion-deafult .panel-body{
border-left:1px solid #e7e7e7;
border-right:1px solid #e7e7e7;
}
.accordion-deafult .panel:last-child  .panel-body{
border-bottom:1px solid #e7e7e7;
}
.accordion-deafult .panel-heading a{
display:block;
position:relative;
padding-left:55px;
line-height:45px;
font-size:16px;
font-weight:400;
color:#fff;
background: rgba(250,74,74,1);/* Old Browsers */
background: -moz-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* FF3.6+ */
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,74,74,1)), color-stop(100%, rgba(227,15,55,1)));/* Chrome, Safari4+ */
background: -webkit-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* IE 10+ */
background: linear-gradient(to bottom, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4a4a', endColorstr='#e30f37', GradientType=0 );/* IE6-9 */text-transform:capitalize;
}
.accordion-deafult .panel-heading a.collapsed{
background:#fff;
color:#4e4e4e;
}
a i.fa-angle-double-up{
opacity:1;
}
a i.fa-angle-double-down{
opacity:0;
}
a.collapsed i.fa-angle-double-up{
opacity:0;
}
a.collapsed i.fa-angle-double-down{
opacity:1;
}
.accordion-deafult .panel-heading a i{
position:absolute;
left:0;
top:0;
bottom:0px;
width:45px;
text-align:center;
line-height:45px;
border-right:1px solid #ED7B7C;
}
.accordion-deafult .panel-heading a.collapsed i{
border-right:1px solid #e7e7e7;
}
.accordion-deafult .panel-body{
border-top:1px solid #e7e7e7;
}




/*   .accordion-section-section end */


.blockquote-section p {
  margin: 0 0 40px;
}
.blockquote-section p:last-child {
  margin-bottom: 0;
}
.blockquote-section .quote{
  font-weight: 600;
  font-size: 18px;
  font-style: italic;
  line-height: 34px;
  letter-spacing: 1px;
  padding-bottom: 35px;
  text-align: center;
  color: #7e7e7e;
}

 .quote-testimonial {
  background: #f3f3f3;
  padding: 30px 40px;
  margin-bottom: 50px;
}
 .quote-testimonial p {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 20px !important;
}
 .quote-testimonial  span::before {
  content: "\f10d";
  font-family: 'FontAwesome';
  font-size: 36px;
  color: #d8d8d8;
  margin-right: 25px;
}
 .quote-testimonial cite {
  text-transform: uppercase;
  margin-left: 55px;
  font-style: normal;
  font-weight: 600;
}

.btn{
  margin-right: 15px;
  border-radius: 3px;
  text-transform: capitalize;
}
@media(max-width: 479px){
   .btn{
    margin-bottom: 15px;
  }
}
.btn-sm {
  padding: 6px 30px;
}
.btn-md{
	font-size:14px;
    padding: 0 28px;
	height:45px;
	line-height:43px;
    color: #f2f2f2;
	background:-webkit-linear-gradient(to bottom,rgba(250,74,74,1),rgba(227,15,55,1));
	background:-moz-linear-gradient(to bottom,rgba(250,74,74,1),rgba(227,15,55,1));
	background:linear-gradient(to bottom,rgba(250,74,74,1),rgba(227,15,55,1));
}
.btn-lg {
  font-size: 14px;
  padding: 13px 57px;
}
.btn-xl {
  font-size: 16px;
  padding: 13px 64px;
}
 .btn-default {
  border: 1px solid #f64a53;
  color:#f64a53;
}
 .btn-default:hover,
 .btn-default:focus {
  background:-webkit-linear-gradient(to bottom,rgba(250,74,74,1),rgba(227,15,55,1));
  background:-moz-linear-gradient(to bottom,rgba(250,74,74,1),rgba(227,15,55,1));
  background:linear-gradient(to bottom,rgba(250,74,74,1),rgba(227,15,55,1));
  border-color: transparent;
  color: #fff;
}
.btn-md:hover{
	color: rgb(250,74,74);  
	background: #fff;
	border: 1px solid #fff;
}


.main-content p {
  margin-bottom: 40px;
}


#divider .section-padding {
  padding-bottom: 50px;
}
.divider-section {
  position: relative;
  margin: 20px 0;
}
.divider-section i {
    color: #FB5B63;
}
[class^="flaticon-"]:before, 
[class*=" flaticon-"]:before, 
[class^="flaticon-"]:after, 
[class*=" flaticon-"]:after{
  margin-left: 0;
}
.dropcaps-widget-one p::first-letter {
      font-size: 30px;
    padding: 10px 10px;
    margin: 5px 10px 0px 0px;
    color: #fff;
    float: left;
	background: rgba(250,74,74,1);/* Old Browsers */
	background: -moz-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* FF3.6+ */
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,74,74,1)), color-stop(100%, rgba(227,15,55,1)));/* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* IE 10+ */
	background: linear-gradient(to bottom, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4a4a', endColorstr='#e30f37', GradientType=0 );/* IE6-9 */
    text-transform: uppercase;
    font-weight: 700;
}

.dropcaps-widget-two p::first-letter {
      font-size: 30px;
    padding: 10px 10px;
    margin: 5px 10px 0px 0px;
    color: #fa4a4a;
    float: left;
    border: 1px solid #fa4a4a;
    text-transform: uppercase;
    font-weight: 700;
}
.dropcaps-widget-three p::first-letter {
    font-size: 40px;
    padding: 10px 5px;
    color: #fa4a4a;
    float: left;
    text-transform: uppercase;
    font-weight: 800;
}


/* --------------------------------------------------
gallery-image start
------------------------------------------------- */
.gallery-image {
  overflow: hidden;
}
.gallery-image .portfolio-thumb {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  
}
@media(max-width: 767px){
    .gallery-image .portfolio-thumb img {
        width: 100%;
    }
}
.gallery-image .portfolio-thumb::before {
  content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background:-webkit-linear-gradient(120deg,rgba(250,74,74,0.8),rgba(227,15,55,0.8));
  background:-moz-linear-gradient(120deg,rgba(250,74,74,0.8),rgba(227,15,55,0.8));
  background:linear-gradient(120deg,rgba(250,74,74,0.8),rgba(227,15,55,0.8));

    -webkit-transition      : all 0.3s ease 0s;
    -moz-transition      : all 0.3s ease 0s;
    -o-transition      : all 0.3s ease 0s;
    transition      : all 0.3s ease 0s;
}
.gallery-image .portfolio-thumb:hover::before,
.gallery-image .portfolio-thumb:hover .pop-up-icon {
  opacity: 1;
  visibility: visible;
}

.gallery-image .pop-up-icon {
  position: absolute;
  top: -100%;
  left: 50%;
  margin-left: -35px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition      : all 0.5s ease 0s;
  -moz-transition      : all 0.5s ease 0s;
  -o-transition      : all 0.5s ease 0s;
  transition      : all 0.5s ease 0s;
}

.gallery-image .portfolio-thumb:hover .pop-up-icon {
  top: 50%;
  margin-top: -35px;
}


/* --------------------------------------------------
gallery-image end
------------------------------------------------- */

.portfolio-thumb img{
  width: 100%;
}
.lightbox-area .portfolio-thumb{
  margin-bottom: 0;
  height: auto;
}
@media(max-width: 767px){
    .lightbox-area .portfolio-thumb img {
        width: 100%;
    }
}

.lightbox-area .portfolio-thumb:hover .pop-up-icon {

    margin-top: -18px;
    left: 60%;
}

.list-style{}
.list-style p{
  margin-bottom: 0 !important;
}
.list-style {
  margin-bottom: 0;
}
.list-style ul, .list-style ol{
  margin-bottom: 30px;
}

.list-style li {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
}

.ordered-list ol {
  padding-left: 15px;
}
.list-wrap{
 padding-left:20px;
}
.list-wrap h2 {
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.list-style .ordered-list ol {
  list-style-type: decimal-leading-zero;
}
.list-style .unordered-list ul {
  list-style-image: url(../img/bullet.png);
}
.list-style .checklist ul{
  list-style-image: url(../img/check.png);
}

.section-widget {
padding: 100px 0;
border-bottom: 1px solid #dfdfdf;
}

.icon .section-padding {
  padding-bottom: 40px;
}

.icon ul {
  margin-bottom: 30px;
}
@media(max-width: 600px){
    .icon ul.box-social li {
        margin-bottom: 20px;
    }
}
.iconlist ul li i {
  font-size: 13px;
  float: left;
  display: block;
  color: #BBBBBB;
  margin-top: 6px;
  margin-right: 5px;
}
.iconlist ul li p {
  margin-bottom: 0px;
}
.icon ul.box-social li a {
  font-size: 18px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 4px;
  color: #b4b4b4;
  display: block;
  border: 1px solid #b4b4b4;
  -webkit-transition      : all 0.5s ease 0s;
  -moz-transition      : all 0.5s ease 0s;
  -o-transition      : all 0.5s ease 0s;
  transition      : all 0.5s ease 0s;
  
}
.icon ul.box-social li a:hover {
	background: rgba(250,74,74,1);/* Old Browsers */
	background: -moz-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* FF3.6+ */
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,74,74,1)), color-stop(100%, rgba(227,15,55,1)));/* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* IE 10+ */
	background: linear-gradient(to bottom, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4a4a', endColorstr='#e30f37', GradientType=0 );/* IE6-9 */
	color: #fff;
	border: 1px solid rgba(236, 42, 42, 0.59);

}
.icon ul.box-social li a i {}

.icon ul.icon-social li {
  margin-right: 15px;
}
.icon ul.icon-social li a {
  font-size: 17px;
  color: #b4b4b4;
  -webkit-transition      : all 0.5s ease 0s;
  -moz-transition      : all 0.5s ease 0s;
  -o-transition      : all 0.5s ease 0s;
  transition      : all 0.5s ease 0s;
}
.icon ul.icon-social li a:hover {
  color: #fa4a4a;
}




/*#tabs start*/
#tabs {}
#tabs .section-widget {
  border-bottom: 0;
}
#tabs p {
  line-height: 30px;
  margin-bottom: 25px;
}
#tabs ul {
  border-top-left-radius: 6px;
}
#tabs .nav-tabs {
  border-bottom: 0;
  background: #afafaf;
  border-top-right-radius: 6px;
}
#tabs .nav-tabs>li {
  margin: 0;
  border-right: 1px solid rgba(230, 232, 225, 0.58);
  border-top-left-radius: 6px;
}
#tabs .nav-tabs>li:first-child:hover a,
#tabs .nav-tabs>li:first-child.active a {
  border-top-left-radius: 6px;
}
#tabs .nav-tabs>li>a {
  border: 0;
  margin: 0;
  color: #fff;
  border-radius: 0;
  padding: 11px 20px;
}
@media(max-width: 480px){
    #tabs .nav-tabs>li {
        border-right: 0;
    }
    #tabs .nav-tabs>li>a {
        padding: 11px 10px;
    }
}
#tabs .nav-tabs>li a:hover,
#tabs .nav-tabs>li.active a {
background: rgba(250,74,74,1);/* Old Browsers */
	background: -moz-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* FF3.6+ */
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,74,74,1)), color-stop(100%, rgba(227,15,55,1)));/* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* IE 10+ */
	background: linear-gradient(to bottom, rgba(250,74,74,1) 0%, rgba(227,15,55,1) 100%);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa4a4a', endColorstr='#e30f37', GradientType=0 );/* IE6-9 */
	}
#tabs .tab-content {
  border: 1px solid #ececec;
  border-top: 0;
  padding: 25px;
}


/*new ele*/


.affix {
  top: 0;
  width: 213px;
  position: fixed !important;
  
}
 
@media (min-width: 1200px) {
  .affix {
    width: 255px;
  }         
}
@media (max-width: 980px) {
  .affix {
    width: 150px;
  }         
}
.scrollspy .nav{
  border: 1px solid #e7e7e7;
  border-bottom: 0;
}
 
 
 /* scroll to top */
 .totop{
	position:fixed;
	right:50px;
	bottom:90px;
	z-index:99;
	display:block;
	width:36px;
	height:36px;
	line-height:36px;
	color:#fff;
	text-align:center;
	background:#E71A3B;
	cursor:pointer;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	transition:all .3s;
 }
 .totop:hover{
	background:#FA5757;
 }



 