/* Medium Layout: 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
 
 
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
/*header*/
.header-top ul li, .header-top ul li a, .header-top ul li i {
  font-size: 12px;
  color: #cbcbcb;
}
.menu-bar { 
  top: 2px;
}
.navbar-toggle-s { 
    padding: 0px 10px;
    margin-top: 0px;
    margin-right: 25px;
  }

.navbar-toggle-s .icon-bar-s {
    display: block;
    width: 35px;
    height: 4px;
}
ul.nav.navbar-nav li > a { 
  font-size: 13px;
  padding: 0 17px;
  margin: 2px 0;
}
.navbar-toggle-s .icon-bar-s+.icon-bar-s {
    margin-top: 6px;
}
.section-padding {
  padding: 60px 0;
}
.section_heading p { 
  margin-bottom: 40px;
}
.latest-news-text { 
  top: -12%;
}

.latest-news-text h3{
  font-size: 14px;
  line-height: 25px;
  padding: 0;
}

.home-three-practice-area .txt {
  margin-left: 50px;
  padding-top: 30px;
}
.subscribe-box-right-content h3 { 
  font-size: 25px; 
}
.latest-news-text h3:before {
    left: 50%;
    top: 65px;
}
.home-three-latest-news .latest-news-text p{
  padding-top: 15px;
}
.latest-news-text .page-three-btn{
  margin-top: 10px;
}
.home-three-practice-area .col-xs-12.col-sm-6:nth-child(3) .txt {
    margin-right: 55px;
}

.our-map-location .owl-wrap-off .google-maps .map-hover {
  left: 31%;
}


.counter-box-left {
  width: 100%;
}
.counter-box-left-content {
  width: 768px;
  }
.subscribe-box-form {
  width: 100%;
}

.home-three-pro-bono-area figure.effect-pro-bono p{
  padding-bottom: 10px;
}


.book-reader {
  padding: 85px 0;
  position: relative;
}
.book-reader:before{
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
 
.lovely-partner-slider .owl-prev .fa {
  left: 0;
}
.lovely-partner-slider .owl-next .fa {
  right: 0;
  }

.footer-area .footer-widget {
  margin-bottom: 40px;
}

.lovely-partner-slider .owl-theme .owl-controls .owl-buttons > div {
    margin-left: 30px;
    margin-right: 30px;
    }

/*********************************************************************
                        Blog Page
/**********************************************************************/
.social-list {
  margin-top: 60px;
  padding-bottom: 60px;
}
/*****************************************************************
                       Single blog page
******************************************************************/
.single-blog-post-left .related-text {
  padding-left: 15px;
}
.blog-right-tab .tab-content li:hover:after {
  height: 46px;
}



/*****************************************************************
                       Contact page
******************************************************************/
.our-map-location.contact-page-map .owl-controls .owl-prev .fa {
  left: 6px;
}
.our-map-location.contact-page-map .owl-wrap-off .owl-controls .owl-next .fa {
  right: 6px;
}
.our-map-location.contact-page-map .owl-wrap-off .google-maps:hover:before {
  left: 9px; 
}
.our-map-location.contact-page-map .owl-wrap-off .google-maps .map-hover {
  left: 18%;
}
/*====================================================
              Faq Page 
======================================================*/
.top-heading-banner { 
  padding: 70px 0;
}
section.activities-membership-area.section-padding {
  padding: 55px 0;
}
/*******************************************************************
                              About us Page
********************************************************************/
.about-us-skill .col-xs-12 h2.text-left, .about-us-skill .col-xs-12 .tabbable {
  margin-left: 0px;
}
.pad-right-zero { 
  padding-left: 0;
}
 /*******************************************************************
                  Home Page Two 2
 /********************************************************************/
.home_two_business_law_top .col-sm-6:nth-child(3n+3) {
  border-right: 1px solid #eeeeee;
}
 
.home_two_business_law_top .col-sm-6:nth-child(7),
.home_two_business_law_top .col-sm-6:nth-child(8) {
  border-bottom: 1px solid #eeeeee;
}
.home-two-testimonial .carousel .control-arrow-two .left {
  left: 38%; 
}
.home-two-testimonial .carousel .control-arrow-two .right {
  right: 38%;
}
section.home-two-students-area .col-md-6:first-child {
  padding-right: 0px;
}
.home-two-attorney .attorny_arrow {
  height: 342px;
}


}

@media only screen and (min-width: 480px) and (max-width: 767px){

/*====================================================
              Home Page Three
======================================================*/
.section-padding {
  padding: 45px 0;
}
.section_heading p {
  margin-bottom: 40px;
  width: 100%;
  font-size: 15px;
  }
.header-top ul.list-inline.social-icons.text-right,
.header-top ul.text-left.list-unstyled.list-inline {
  text-align: center;
}
 
.navbar-header {
  padding-top: 5px;
  padding-bottom: 5px;
}   
.home-three-latest-news {
  padding: 45px 0;
}
.latest-news-text h3:before {
  position: absolute;
  content: " ";
  top: 38%;
}
 
.home-three-practice-area .txt {
  margin-left: 0;
  padding-top: 30px;
  text-align: center;
}
.home-three-practice-area .col-xs-12.col-sm-6:nth-child(3) .txt {
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 30px;
}
.home-three-practice-area .col-xs-12.col-sm-6:nth-child(5) {
  margin-top: 30px;
}
.home-three-business-law-top .practice_trigger-home-three ul li {
  padding: 0 13px;
}


/*counter box left*/
.counter-box-left {
  float: none;
  width: 100%;
}
.counter-box-left-content {
  box-sizing: border-box;
  float: none;
  width: 100%;
}  
.subscribe-box-form {
  min-height: 350px;
  width: 100%;
  text-align: center;
} 
.select-wrapper {
  margin-bottom: 15px;
}

.testimonial .right.carousel-control .fa {
  margin-left: 0px;
  }
.book-reader{
  position: relative;
  
}
.book-reader:before {
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.book-heading h1 {
  font-size: 20px;
}
.book-heading p {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}
.book-heading a {
  margin-top: 25px;
}
.our-map-location .owl-wrap-off .google-maps .map-hover { 
  left: 22%; 
}

.home-three-latest-news .col-sm-4{
  margin-bottom: 25px;
}
.subscribe-box-right-content {
  width: 100%;
}

.subscribe-box-right-content{
  padding: 0;
}
.home-three-latest-news .col-sm-4:nth-child(1), 
.home-three-latest-news .col-sm-4:nth-child(2), 
.home-three-latest-news .col-sm-4:nth-child(3){
  padding-right: 15px;
}

.testimonial .left.carousel-control .fa {
  margin-left: -28px;
}
.testimonial .right.carousel-control .fa {
  margin-left: -12px;
}
.owl-wrapper-outer .feature-image img {
  display: block;
  margin: auto;
}
section.home-three-free-case-area.section-padding .col-xs-12:first-child {
  margin-bottom: 35px;
}

/*Footer*/
footer .footer-bottom ul li {
  font-size: 12px;
  }
footer .footer-bottom .col-sm-4 ul li a {
  font-size: 14px;
}
footer .footer-bottom .col-sm-4 ul{
  text-align: center;
  padding-top: 5px;
}
footer .footer-area .footer-widget {
  margin-bottom: 40px;
}
.lovely-partner-slider .owl-theme .owl-controls .owl-buttons > div {
    margin-left: 50px;
    margin-right: 50px;
}
/*****************************************************************
                        blog page
******************************************************************/
section.main-blog-content {
  padding: 45px 0;
}
.social-list {
  margin-top: 60px;
  /*padding-bottom: 60px;*/
}
/*****************************************************************
                       Single blog page
******************************************************************/
.quote-testimonial p {
  font-size: 13px;
  }
.quote-testimonial {
  padding: 30px 12px;
}
.about-author-text {
  padding: 30px 0;
}
.left-images.pull-left {
  padding: 45px 22px 16px 16px;
}
.single-post-comments .media {
  margin-left: 10px;
}
.single-post-comments .media:first-child {
  margin-left: 10px;
}
.single-leave-comments .btn-xl{
  margin-bottom: 45px;
}

.single-blog-post-left .related-text {
  padding-left: 15px;
}
.blog-right-tab .tab-content li:hover:after {
  height: 46px;
}
/*****************************************************************
                       Contact page
******************************************************************/
.our-map-location.contact-page-map .owl-controls .owl-prev .fa {
  left: 6px;
}
.our-map-location.contact-page-map .owl-wrap-off .owl-controls .owl-next .fa {
  right: 6px;
}
.form-group.col-xs-12.contact-text-area {
  padding-top: 15px;
}

/*====================================================
              Faq Page 
======================================================*/
.top-heading-banner { 
  padding: 40px 0;
}
section.activities-membership-area.section-padding {
  padding: 40px 0;
}
/*******************************************************************
                              About us Page
********************************************************************/
section.history-area.section-padding .col-xs-12:last-child {
  padding-top: 25px;
}
.about-us-skill .col-xs-12 h2.text-left, .about-us-skill .col-xs-12 .tabbable {
  margin-left: 0px;
}
/*******************************************************************
                  Home Page Two 
********************************************************************/

.home_two_business_law_top .col-sm-6:nth-child(7),
.home_two_business_law_top .col-sm-6:nth-child(8) {
  border-bottom: 1px solid #eeeeee;
}

.home-two-testimonial .carousel .control-arrow-two .left {
  left: 33%;
}
.home-two-testimonial .carousel .control-arrow-two .right { 
  right: 33%; 
}
.home-two-testimonial .carousel-inner h3:before {
  left: 37%;
}
.home-two-attorney .attorny_arrow {
  height: 430px;
}
.home-two-students-area .col-md-6 {
  padding-right: 0;
}
.partner-area .owl-carousel .owl-item {
  border-right: 0px solid #f4f4f4;
}

}


@media only screen and (max-width:767px){
	.single_latest_item {
	  padding: 15px 0 50px;
	} 

	.home_two_pro_bono_area .single_pro_bono{
		margin-bottom:50px;
	}
	.footer-bottom .list-inline{
		text-align:center;
	}
	.partner-area .feature-image img{
		margin:0 auto;
	}
	.practice_trigger{
		margin-top:0;
	}
	.practice_trigger ul li{
		margin-bottom:10px;
	}
	.carousel-indicators{
		left:0;
		width:100%;
		margin-left:0;
	}
	.carousel-indicators li{
		width:85px;
		height:85px;
	}
  .home-three-latest-news .col-sm-4 {
    margin-bottom: 25px;
    padding-right: 15px;
}
.home-two-main-header-content, .home-one-main-header-content {
    padding: 0;
}
.latest_news_box { 
    margin-bottom: 35px;
}
.practice_trigger ul li { 
    font-size: 11px;
}
.home-two-achivement.partner-area .owl-carousel .owl-item {
    border-right: 1px solid transparent !important;
}
.footer-bottom .bottom-scion ul.box-icon li {
    margin-left: 5px;
    margin-top: 10px;
}

}


/* Wide Mobile Layout: 320px. */
@media only screen and (min-width: 320px) and (max-width: 478px) {
  

/*home page three*/
.section_heading h1, .section_heading h2 {
    line-height: 35px;
}
.counter-area.home-two-counter { 
    padding: 60px 0;
}
.section-padding {
  padding: 45px 0;
}
.section_heading h1 {
  font-size: 25px;
  line-height: 27px;
}
.section_heading p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 22px;
  width: 100%;
}
.home-three-practice-area .txt {
  margin-left: 0px; 
  padding: 25px 0;
  text-align: center;
}
.home-three-practice-area .col-xs-12.col-sm-6:nth-child(3) .txt {
  margin-left: 0px; 
  padding: 25px 0;
  margin-right: 0;
  text-align: center;
}
.latest-news-text h3 {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  line-height: 24px;
}
.latest-news-text h3:before {
  position: absolute;
  content: " ";
  top: 65px; 
 }

.home-three-latest-news {
  padding: 45px 0;
}
.latest-news-text .page-three-btn{
  margin-top: 25px;
}


.home-three-practice-area .col-xs-12.col-sm-6:nth-child(4) {
  position: relative;
  padding: 0;
  margin-bottom: 30px;
}
.home-three-business-law-top .practice-trigger-home-three ul li{ 
  padding: 0px 7px;
  font-size: 9px;
  line-height: 35px;
  height: 35px; 
}
.home-three-latest-news .latest-news-text p {
  padding-top: 22px;
}
.home-three-business-law-top .practice_trigger-home-three ul li {
  padding: 0 5px;
  font-size: 10px;
  line-height: 35px;
  height: 35px;
  background: #fff;
  margin-right: -4px;
}
.home-three-attorny .col-xs-12{
  margin-bottom: 25px;
}

.book-reader{
  position: relative;
  
}
.book-reader:before {
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.book-heading h1 {
  font-size: 20px;
}
.book-heading p {
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}
.book-heading a {
  margin-top: 25px;
}
.testimonial .image-bar p {
  font-size: 13px;
  line-height: 20px;
}
.testimonial .carousel-control .fa {
  background-color: transparent;
  border-radius: 3px;
  height: 30px;
  width: 30px;
  line-height: 25px;
  font-size: 18px;
    }
.testimonial .right.carousel-control .fa {
  margin-left: -10px; 
}
.testimonial .left.carousel-control .fa {
  margin-left: -22px;
}
section.testimonial {
  background-color: #201d1d;
  padding: 45px 0;
}
.our-map-location .owl-wrap-off .google-maps .map-hover { 
  left: 0%; 
}
/*counter box left*/
.counter-box-left {
  width: 100%;
  padding: 40px 0 0 0;
    min-height: 510px;
}
 
.counter-box-left-content {
  width: 360px;
  }
.subscribe-box-form {
  width: 100%;
  padding: 50px 0;
  min-height: 510px;
} 
.counter-box-left-content ul li {
  margin-left: 15px;
}
.counter-box-left-content ul li span.counter {
  display: block;
  font-size: 35px;
  font-weight: bold;
  line-height: 30px;
  color: #fa4a4a;
}
.subscribe-box-right-content {
  padding: 0;
}
.select-wrapper {
  margin-bottom: 15px;
}
.subscribe-box-right-content h3 {
  padding-bottom: 30px;
  font-size: 34px;
  line-height: 35px;
  }
.partner-area p { 
  width: 100%;
}
.partner-area .main-clients-wrap {
  padding-top: 10px;
}

.partner-area h3 { 
  line-height: 35px;
}
section.home-three-free-case-area.section-padding .col-xs-12:first-child {
  margin-bottom: 35px;
}
/*Footer*/
footer .footer-area { 
  padding: 40px 0;
}
footer .footer-bottom ul li {
  font-size: 12px;
}

footer .footer-bottom .col-sm-4 ul li a {
  font-size: 14px;
}
footer .footer-bottom .col-sm-4 ul{
  text-align: center;
  padding-top: 5px;
}

footer .footer-area .footer-widget {
  margin-bottom: 40px;
}
.lovely-partner-slider .owl-theme .owl-controls .owl-buttons > div {
    margin-left: 10px;
    margin-right: 10px;
}
/******************************************************************
                    Blog Page
/*******************************************************************/
section.main-blog-content {
  padding: 45px 0;
}
.button-plus-share ul li {
  padding: 2px 4px; 
  margin-right: 2px;
}
.image-blog-content { 
  margin-bottom: 40px;
}
.paginator .style-1 {
  margin-top: 10px;
}
.social-list {
  margin-top: 40px;
  /*padding-bottom: 40px;*/
}
.button-plus-share .btn-default {
  color: rgb(250,74,74);
  border-radius: 3px;
  padding: 5px 7px;
  }
.button-plus-share .btn-default:hover{
  color: #fff;
}
.button-plus-share .btn{
  margin-right: 5px !important;
}
.blog-text ul li:first-child {
  padding-left: 0px; 
}
.blog-text ul li { 
  padding: 0 10px;
}

/************************************************************
                  blog single post
*************************************************************/
.top-heading-banner.blog-single .top-heading { 
  padding: 0 0px; 
  }
.blog-team.text-center { 
  padding: 25px 10px;
}
.button-plus-share {
  padding: 15px 2px;
}
.previous-next-post-wrapper {
  margin-top: 0px;
  margin-bottom: 40px;
  }
.about-author .button-plus-share p { 
  font-size: 12px;
}
.about-author-text h3 {
  font-size: 15px;
}
.button-plus-share ul.pull-right li { 
  margin-right: -5px;
  padding: 0px 2px;
}
.about-author-text {
  padding: 36px 10px 0 20px;
}
.quote-testimonial {
  padding: 30px 20px;
  }
.left-images.pull-left {
  padding: 45px 22px 16px 16px;
}
.single-post-comments .media {
  margin-left: 10px;
}
.single-post-comments .media:first-child {
  margin-left: 10px;
} 
.single-blog-post-left .related-text {
  padding-left: 15px;
}

/*****************************************************************
                       Contact page
******************************************************************/
.our-map-location.contact-page-map .owl-controls .owl-prev .fa {
  left: 6px;
}
.our-map-location.contact-page-map .owl-wrap-off .owl-controls .owl-next .fa {
  right: 6px;
}
.form-group.col-xs-12.contact-text-area {
  padding-top: 15px;
}
.our-map-location.contact-page-map .owl-wrap-off .google-maps .map-hover {
    left: 6%;
}
/*====================================================
              Faq Page 
======================================================*/
.top-heading-banner{ 
  padding: 30px 0;
}
section.activities-membership-area.section-padding {
  padding: 35px 0;
}

/*******************************************************************
                              About us Page
********************************************************************/
section.history-area.section-padding .col-xs-12:last-child {
  padding-top: 25px;
}
.about-us-skill .col-xs-12 h2.text-left, .about-us-skill .col-xs-12 .tabbable {
  margin-left: 0px;
}
/*******************************************************************
                  Home Page Two 
********************************************************************/

.home_two_business_law_top .col-sm-6:nth-child(7),
.home_two_business_law_top .col-sm-6:nth-child(8) {
  border-bottom: 1px solid #eeeeee;
}
.home-two-students-area .col-md-6 {
  padding-right: 0;
}

.bottom-plus { 
  left: 45%;
}
.home-two-testimonial .carousel .control-arrow-two .left {
  left: 27%;
}
.home-two-testimonial .carousel .control-arrow-two .right { 
  right: 27%; 
}
.home-two-testimonial .carousel-inner h3:before {
  left: 31%;
}
.home_two_business_law_top .col-sm-6 {
  border-right: 1px solid transparent; 
}
.latest_news_box { 
    margin-bottom: 35px;
}
.latest_news_details h4 {
    font-size: 15px;
}
.practice_trigger ul li { 
    font-size: 10px; 
    padding: 0 6px;
    line-height: 35px;
    height: 35px;
}
.carousel-indicators img {
    border-radius: 5px;
    width: 40px;
}
.carousel-indicators li {
    width: 40px;
    height: 40px;
}
.carousel-indicators .active {
    height: 40px;
    width: 40px;
    border: 2px solid #f9f9f9;
    box-shadow: 0 0 0px 1px #a49c9a;
}
.testmonial_slider_area { 
    padding: 100px 0 40px;
}
.single_testi_item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}


}