 

.default {
    background-color: #fa4a4a;
}
.purple {
    background-color: #ad1283;
}
.red {
    background-color: #CF0204;
}
.spring {
    background-color: #91e842;
}
.green {
    background-color: #0F9D58;
}

.fancy {
    background-color: #05abe0;
}

.golden {
    background-color: #f28b1c;
}


.sidebar-themes li {
    float: left;
    margin: 0 5px 5px 0;
}
.sidebar-themes li a {
    display: block;
    width: 25px;
    height: 25px;
}
.color-code h1 {
    background-color: #fa4a4a;
    color: #fff;
    padding: 8px 10px;
    font-size: 20px;
    text-align: center;
}

.color-code {
    position: fixed;
    top: 25%;
    left: -242px;
    z-index: 999;
    border: 1px solid #f1f1f1;
    border-top: 0;
    background-color: #FFF8F8;
}
.color-code p {
    font-size: 21px;
    color: #000;
    padding: 10px 0;
}
ul.sidebar-themes  {
    padding: 10px 15px 20px;
}

.icon-holder{
	position: relative;
}

.icon-fixed {
    position: absolute;
    top: 0;
    right: -43px;
    height: 40px;
    width: 43px;
    text-align: center;
    background-color: #FA4A4A;
    line-height: 43px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}
.fa.fa-cog.fa-spin {
    font-size: 20px;
    color: #fff;
}

.opens{
	left: -2px;
}