/****************************************************************
 *																*		
 * 						      							*
 *                        						*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
body{ font:14px/1.5 normal arial, "微软雅黑"; margin:0; padding:0; overflow-x:hidden; background:#fff;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;color:#c10707;}
html, body, div, span, ul, li, ol, dl, dt, dd, table, td, th, p, fieldset, form, pre, blockquote, h1, h2, h3, h4, h5, h6, input, img, a { margin: 0; padding: 0; }
ul li ol{ list-style: none; }
img { border: none; }
.clear{ clear:both; height:0px;}
.inner{ width:1200px; margin:0 auto;}
.fl{ float:left;}
.fr{ float:right;}

/*head*/
#head{height:30px; width:100%; background:#ededed; line-height:30px; font-size:12px;}
#head span{ color:#333;}
#head p a{ color:#333; padding:0 8px;}
#head p a:hover{color:#c10707;-webkit-transition: all .5s;transition: all .5s;}

/*logo*/
.logo{ height:125px;}
.logo>img{ width:90px; height:125px; float:left; margin-right:5px;}
.logon{ float:left; padding-top:30px; line-height:1.8;}
.logon h3{ color:#333; font-size:16px; font-weight:normal;}
.logon h2{ color:#000; font-size:24px; font-family:"宋体";}
.logon h2 b{ color:#ba1111; font-size:34px; line-height:1;font-family:"微软雅黑";}
.logom { float:left; padding-top:40px; margin-left:100px; line-height:1.2;}
.logom p{ color:#c80505; font-size:24px; font-weight:bold;}
.logom em{ color:#999999; font-style:normal; font-family:arial; font-size:10px;}
.logor{ float:right; max-width:220px; padding-top:30px;}
.logor img{ float:left; margin-right:10px;}
.logor h3{ font-style: normal; font-size:12px; color:#666; float:left;}
.logor h4{ font-style:normal; font-size:20px; color:#c80505; float:left; font-family:arial;}
.logor p{ float:left;}
.logor ul{ float:left; display:inline-block;}
.logor li{ float:left; list-style:none; background: url(../images/wuxing.jpg) no-repeat 0px 7px; padding-left:20px; margin-right:20px; line-height:2; font-size:16px;}


/*nav*/
nav{ background:#c80505; height:54px; }
nav ul,nav li{ list-style:none;}
nav>ul{ width:1200px; margin:0 auto;}
nav>ul>li{ float:left; width:133px;height:54px;  text-align:center; line-height:54px;position:relative;}
nav>ul>li a{ color:#fff; font-size:15px;}
nav>ul>li:hover{ background: url(../images/navb.png) no-repeat; height:54px;}
nav>ul>li:hover>a{ color:#fff;-webkit-transition: all .5s;transition: all .5s; }
nav li ul{ display:none; position:absolute; top:54px; z-index:5;}
nav li:hover ul{ display:block;}
nav li li{ background:hsla(0,0%,0%,0.5); width:110px; border-bottom:1px solid #ccc;}
nav li li a{ color:#ccc; font-size:13px;}


/*search*/
.seaa{ margin:10px auto; color:#666; font-size:12px; line-height:28px;}
.seaa p{ float:left;}
.sea_r{ float:right; padding-top:13px;}
.sousuo{ background:#d7381b  url(../images/search.png); width:30px; height:28px; border:1px;float:right; }
.sousuo:hover{background:#666 url(../images/search.png);-webkit-transition: all .5s;transition: all .5s; }
.sousuo1{border:0px;background:#f3f3f3; width:250px; height:28px; float:right; border-right:0px; padding-left:10px;}
.sea{ margin:20px auto; color:#666; font-size:12px; line-height:28px;}
.sea p{ float:left;}
.sea_r{ float:right; padding-top:13px;}
.sousuo{ background:#d7381b  url(../images/search.png); width:30px; height:28px; border:1px;float:right; }
.sousuo:hover{background:#666 url(../images/search.png);-webkit-transition: all .5s;transition: all .5s; }
.sousuo1{border:0px;background:#f3f3f3; width:250px; height:28px; float:right; border-right:0px; padding-left:10px;}


/*banner*/
.wrapper{width:1920px; height:475px; margin:0px auto;}
#focus{width:1920px;height:475px;overflow:hidden;position:relative;}
#focus ul{height:475px;position:absolute;}
#focus ul li{float:left;width:1920px;height:475px;overflow:hidden;position:relative;background:#000;}
#focus ul li div{position:absolute;overflow:hidden;}
#focus .btnBg{position:absolute;width:1920px;height:40px;left:0;bottom:0;}
#focus .title{position:absolute;width:545px;height:40px;left:0;bottom:0;text-align:left;line-height: 40px;padding-left: 20px;color:#fff; cursor:pointer;}
#focus .btn{position:absolute;width:240px;height:10px;right:60%;bottom:30px;text-align:right;}
#focus .btn span{display:inline-block;_display:inline;_zoom:1;width:43px;height:5px;_font-size:0;margin-left:5px;cursor:pointer;background:#fff;}
.ban{ margin:0 auto; width:1920px;}

/*product*/
.pro{ background:url(../images/probg.jpg); padding:20px 0;}
.ptitle{ width:340px; margin:20px auto; height:100px;}
.ptitle img{ width:95px; height:65px; float:left;}
.ptitle b{ float:left; padding-top:18px; font-size:30px; color:#000;}
.ptitle em{ float:left; font-style:normal; text-transform:uppercase; color:#afb2af; font-size:13px; font-family:arial; text-align:center;margin-left:10px;}
.prol{ float:left; border:2px solid #c80505; width:212px; min-height:250px;background:#fcfcfc;}
.prol h2{ background:#c80505; color:#fff; font-size:18px; font-weight:normal; text-align:center; line-height:2.5;}
.prol ul{ margin-top:20px; margin-bottom:10px;}
.lieb li{ list-style:none; background:#e1e1e1; margin:5px 10px; line-height:2.5; font-size:14px;}
.lieb li p{ float:left;margin:10px 10px; background:#000; border-radius:50%; width:15px; height:15px; color:#fff; line-height:1; text-align:center;}
.lieb li a{ color:#444444;}
.lieb li:hover{ background:#c80505;-webkit-transition: all .5s;transition: all .5s; }
.lieb li:hover a{ color:#fff;-webkit-transition: all .5s;transition: all .5s; }
.lieb li:hover p{ background:#fff; color:#000;-webkit-transition: all .5s;transition: all .5s; }
.prob{ margin:10px 0 10px 10px; float:left;}
.prob img{ float:left; margin-right:10px;}
.prob h3{ font-style: normal; font-size:12px; color:#666; float:left;}
.prob h4{ font-style:normal; font-size:20px; color:#c80505; float:left; font-family:arial;}
.prob p{ float:left;}
.prob ul{ float:left; display:inline-block; margin:0;}
.prob ul li{ float:left; list-style:none; background: url(../images/wuxing.png) no-repeat 0px 7px; padding-left:15px; margin-right:10px; line-height:2; font-size:16px;}
.pror{ float:right; width:960px;}
.prort{ border-bottom:1px solid #999; padding-bottom:5px;}
.prort b{ font-size:18px; color:#c80505;line-height:2;}
.prort a{ float: right; color:#333; font-size:12px; line-height:3.5;}
.prort img{ width:35px; height:35px; float:left; margin-right:10px;}
.pron{ margin-top:20px;}
.winston{ position: relative; top:0; left:0; background:#fff; width:235px; height:200px; float:left;margin:10px 5px 10px 0; overflow:hidden;}
.winston img{ margin:10px 10px 0 10px;}
.winston h1{ color:#333; font-size:13px; text-align:center; font-weight:normal;}
.winston:hover h1{ color:#c80505;}
.winston figcaption{ position:absolute; top:0; left:0;opacity:0; width:300px; height:400px; background: url(../images/phover.png) no-repeat;}
.winston figcaption:hover{ opacity:1; -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.5s, transform 0.5s;}
.winston figcaption p{ position:absolute; top:150px; left:75px;}
.winston figcaption p a{ border:1px solid #fff; padding:5px 10px; color:#fbfc03;}

/*about*/
.atitle{ width:600px; margin:20px auto; }
.atitle img{ width:95px; height:65px; float:left;}
.atitle b{ float:left; padding-top:18px; font-size:30px; color:#000;}
.atitle em{ float:left; font-style:normal; text-transform:uppercase; color:#afb2af; font-size:13px; font-family:arial; text-align:center; margin-left:20px;}
.about img{ border:10px solid #eee; width:405px; height:216px; margin-right:20px; float:left;}
.about p{ width:750px; float:left; padding-top:10px; color:#666666; font-size:13px; line-height:2; margin-bottom:10px;}
.about a{ border-radius:20px; padding:2px 10px; background:#c10707; color:#fff;}
.about a:hover{ background:#ccc; color:#000;-webkit-transition: all .5s;transition: all .5s; }


/*zhiliang*/
.zhil{ background:url(../images/mainbg.jpg); margin:40px auto;}
.ztitle{ width:780px; margin:0 auto; padding-top:40px; margin-bottom:10px;}
.ztitle p{ float:left;}
.ztitle h2{ float:left; font-weight:normal; font-style:normal; font-size:20px; color:#333; margin-right:10px;}
.ztitle h2 em{ font-style:normal;color:#cc4242;}
.ztitle h3{letter-spacing:-1px;float:left; font-weight:normal; font-style:normal; font-size:12px; color:#aaa; font-family:arial; text-transform:uppercase;}
.ztitle b{ font-size:34px; color:#000;}
.zll{ width:240px; background:#fff; float:left; margin-bottom:20px;}
.zlul li{ list-style: none; text-align:center; border-bottom:1px solid #000; background:#5c5c5c; line-height:3; font-size:15px; }
.zlul li a{ color:#fff;}
.zlul li:hover{ background:#c80505;-webkit-transition: all .5s;transition: all .5s;}
.zll p{ font-size:12px; text-align:center; margin:5px auto;}
.zll img{ float:left; margin:0 10px 10px 20px;}
.zll b{ float:left; font-style:normal; font-weight:normal; color:#666; font-size:12px;}
.zll i{ float:left;  color:#c80505; font-size:18px; font-style:normal; font-family:arial;}
.zlr{ float:right;}
.zlr li{ float:left; margin-left:40px; list-style:none; width:410px; height:250px;padding:15px; background:#fff; line-height:1.6;}
.zlr li img{ float:left; width:180px; height:135px; margin:0 10px 0px 0; clear:both;}
.zlr li h2{ font-size:16px; line-height:3; font-weight:normal; color:#c80505;}
.zlr li p{ color:#444; height:150px;}
.zlr li a{ background:#c80505; border-radius:5px; padding:5px 20px; color:#fff; text-align:center; margin:0 auto;}
.zlr li a:hover{ background:#ccc; color:#000;-webkit-transition: all .5s;transition: all .5s; }
.more{ width:110px; margin:10px auto;}


/*honor*/
.honor{ position:relative;}
.honor h1,.honor h2{ margin:0 auto; text-align:center;} 
.honor h2{ margin-bottom:20px; font-size:12px;font-weight:normal;color:#ccc; font-family:"arial"; text-transform:uppercase;}
.box{height:200px;width: 1100px;margin: 0 auto;position: relative;overflow:hidden;}
#roll{width:200%; }
#roll dd{list-style:none;;height:px;float: left;margin-right:20px;}
#roll dd p{ height:30px; text-align:center;}
#roll dd p a{ color:#333;}
.honor span{ position:absolute;bottom: 40%;width: 28px; height:28px; border-radius:50%;text-align: center;cursor: pointer;background:#da2121;z-index: 90;color: #fff; line-height:1.5; font-size:16px;}
.next{right:0px;}
.prev{ left:0px;}



/*news*/
.new{ background:url(../images/mainbg.jpg); padding:20px 0; margin:20px auto;}
.news{ float:left; width:850px;}
.nt h2{ float:left; color:#c80505; font-size:18px; font-weight:normal; border-left:4px solid #c80505; padding-left:10px;}
.nt a{ float:right; color:#333; font-size:13px;}
.ncon{ background:#fff; margin-top:20px; padding:10px; float:left; width:830px;}
.ncon img{ float:left; margin-right:10px; margin-bottom:10px;}
.ncon h2{ font-weight:bold; color:#333; font-size:14px; margin:10px 0;}
.ncon h2 span{font-weight:normal; float:right; font-size:13px; color:#666;}
.ncon h2 img{ float:right;}
.ncon p{ font-size:13px; line-height:1.8;}
.ncon p a{ color:#c80505;}
.nul { margin-top:40px;}
.nul li{ list-style:none; margin:10px 0;}
.nul li p{ background:#c80505; width:14px; height:14px; border-radius:50%; float:left; text-align:center; color:#fff; margin-right:20px; line-height:14px; margin-top:3px;}
.nul li a{ color:#333; font-size:13px;}
.nul li:hover p{ background:#ccc; color:#000;-webkit-transition: all .5s;transition: all .5s;}
.nul li:hover a,.nul li:hover b{ color:#c80505;-webkit-transition: all .5s;transition: all .5s; }
.nul li b{font-weight:normal; color:#666; font-size:13px; float:right;}
.conr{ width:310px; float:right;}
.cont{ float:right; width:310px; text-align:left;}
.cont h2{ color:#c80505; font-size:18px; font-weight:normal; border-left:4px solid #c80505; padding-left:10px;}
.contact{ width:310px; background:#fff; float:right; margin-top:20px;}
.contact img{ margin:15px;}
.contact p{ padding-left:15px; font-size:14px; color:#333; line-height:1.7; padding-bottom:20px;}

/*foot*/
.tabx{ margin:40px auto; }
.hide{display:none;}
#tabs{ float:left;}
#tabs li a{ color:#fff; font-size:13px;}
#tabs li{ list-style:none; background:#333; height:35px; width:73px; text-align:left; padding-left:8px;line-height:2; background:url(../images/over.png) no-repeat;}
#tabs .on{ background: url(../images/on.png) no-repeat;}
#tab  ul a{ color:#797979;}
#tab ul{ width:1080px; float:right; text-align: left; border:1px solid #ccc;height:50px; padding:10px; font-size:12px; line-height:2; overflow:hidden;}
.ftb{background:#000; padding:20px 0; text-align:center; line-height:2; font-size:13px;}
.ftb p{ color:#a2a2a2;}
.ftb p a{color:#a2a2a2; background:none;}
.ftb p a:hover{ color:#c10707;-webkit-transition: all .5s;transition: all .5s;}
.meau li{ display:inline-block; list-style:none; line-height:2; margin-bottom:20px;color:#a2a2a2;}
.meau li a{ color:#fff;}
.meau{ color:#a2a2a2;}
.meau li a:hover{ color:#c10707;-webkit-transition: all .5s;transition: all .5s;}



/*neiye*/
.content{ margin:40px auto;}
.lml{ float:left; width:220px;}
.lmt{ float:left; border:2px solid #c80505; width:212px; min-height:250px;background:#fcfcfc;}
.lmt h2{ background:#c80505; color:#fff; font-size:18px; font-weight:normal; text-align:center; line-height:2.5;}
.lmt ul{ margin-top:20px; margin-bottom:10px;}
.lmm li{ list-style:none; background:#e1e1e1; margin:10px 15px; line-height:2.5; font-size:14px;}
.lmm li p{ float:left;margin:12px 10px; background:#000; border-radius:50%; width:12px; height:12px; color:#fff; line-height:0.8; text-align:center;}
.lmm li a{ color:#444444;}
.lmm li:hover{ background:#c80505;-webkit-transition: all .5s;transition: all .5s; }
.lmm li:hover a{ color:#fff;-webkit-transition: all .5s;transition: all .5s; }
.lmm li:hover p{ background:#fff; color:#000;-webkit-transition: all .5s;transition: all .5s; }
.lmcon h2{font-size:18px;font-weight:normal; color:#c80505; border-left:4px solid #c80505; padding-left:10px; margin:15px 0;}
.lmcon h3{ font-size:14px; line-height:2; }
.lmcon p{ line-height:2;}
.contentr{ float:right; width:940px; border:1px solid #ccc; padding:5px;}
.contentr h2{ float:left; color:#c80505; font-size:16px; font-weight:normal; padding-left:10px;}
.contentr span{float:right; font-size:13px;}
.contentr span a{ color:#333;}
.contentr .om{ color:#c80505;}
.contentb { padding:15px; width:920px; border:1px solid #ccc; float:right; margin-top:10px; min-height:700px;}













