body{
	margin: 0;
	padding: 0;
}/****************************************************************
 *																*		
 * 						      							*
 *                       							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
a{
	text-decoration: none;
}
table tr{
	padding: 0;
	margin: 0;
}
table td{
	padding: 0;
	margin: 0;
}
