/****************************************************************
 *																*		
 * 						      							*
 *                       							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
body{
	margin: 0;
	padding: 0;
	background-color: #f4f6f3;
}
a{
	text-decoration: none;
}
.topBox{
	height: 45px;
	padding: 0 10px;
	background-color: #4488E6;
	font-weight: 700;
	font-size: 15px;
}
.topBox div:nth-child(1){
	float: left;
	height: 45px;
	line-height: 45px;
	color: white;
}
.topBox div:nth-child(2), .topBox div:nth-child(3){
	float: right;
	height: 30px;
	line-height: 30px;
	color: #4488E6;
	background-color: white;
	border-radius: 4px;
	padding: 0 8px;
	margin-top: 7.5px;
}
.topBox div:nth-child(3){
	margin-right: 20px;
}
.cart{
	color: #828282;
	font-weight: 700;
	font-size: 17px;
	padding-left: 30px;
	margin: 15px 0;
	-webkit-background-size: 15px !important;
	background-size: 15px !important;
	background: url(../images/cart.png) 10px 4px no-repeat;
}
#listBox{
	
}
#listBox .list:nth-child(1){
	border-top: 1px solid #e5e5e5;
}
.list{
	position: relative;
	margin: 0 10px;
	height: 100px;
	border-bottom: 1px solid #e5e5e5;
}
.checkboxs{
	width: 25px !important;
	height: 25px !important;
	float: left !important;
	margin: 25px 0 0 10px !important;
}
.checkboxs:before{
	left: 9px !important;
	top: 5px !important;
	width: 6px !important;
	height: 10px !important;
}
.checkboxs:after{
	position: absolute;
	left: 27px;
	top: 3px;
	content: '全选';
	width: 38px;
	color: #a6a6a6;
	font-weight: 700;
	font-size: 18px;
}
.checkbox,.checkboxs{
	position: relative;
	float: left;
	display: block;
	background-color: #16c460;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	/*transition: all .3s ease;
	-webkit-transition: all .3s ease;*/
	margin-top: 40px;
	border: 1px solid rgb(22, 196, 96);
}
.checkboxf,.checkboxsf{
	background-color: white !important;
	border: 1px solid #999999 !important;
}
.checkbox:before,.checkboxs:before{
	position: absolute;
	content: '  ';
	display: block;
	left: 7px;
	top: 4px;
	width: 4px;
	height: 8px;
	transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	/*transition: all .5s ease;
	-webkit-transition: all .5s ease;*/
}
.list img{
	float: left;
	margin: 15px 0 0 10px;
	width: 70px;
	height: 70px;
}
.title{
	float: left;
	width: 50%;
	max-height: 47px;
	overflow-y: hidden;
	margin: 15px 0 0 10px;
	font-size: 14px;
}
.priceBox{
	float: right;
	margin-top: 15px;
	font-size: 14px;
}
.price1{
	
}
.price2{
	color: #a6a6a6;
	text-decoration: line-through;
}
.calculation{
	position: absolute;
	width: 91px;
	right: 0;
	bottom: 10px;
}
.calculation input{
	float: left;
	display: block;
	width: 29px;
	height: 24px;
	text-align: center;
	border: none;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}
.jian{
	float: left;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #a6a6a6;
	border: 1px solid #dddddd;
	background-color: #eeeeee;
	font-size: 24px;
}
.jia{
	float: left;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #4488e6;
	border: 1px solid #dddddd;
	background-color: #eeeeee;
}
.commodityNumber{
	text-align: right;
	margin-right: 10px;
	height: 40px;
	line-height: 40px;
	color: #888888;
}
.settlement{
	height: 70px;
	background-color: #f4f6f3;
}
.settlementBut{
	float: right;
	margin: 18px 10px 0 0;
	padding: 8px;
	color: white;
	background-color: #e4393c;
	border-radius: 4px;
	font-weight: 700;
}
.totalBox{
	float: right;
	margin: 16px 20px 0 0;
}
