/****************************************************************
 *																*		
 * 						      代码库							*
 *                        www.dmaku.com							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
@charset "utf-8";
/*aitecms.com 好用的企业内容管理系统*/
/* Style Reset
-----------------------------------------------------------------------------------------------------*/
*{ margin:0px; padding:0px;} 
html{overflow-x:hidden;}
body, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote 
{font-size: 12px;_background-image:url(../images/about:blank);_background-attachment:fixed;font-family:"微软雅黑";}
body{ background:#fff6e9;}
input, button, textarea,select, optgroup, option { font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit;}
ul, li, dl, dt, dd, ol { display: block; list-style: none; }
img{border:0; }
.clear {clear:both;height: 0; }
.clear-fix:after{content: "."; display: block; height: 0; font-size: 0; clear: both; visibility: hidden;}
a{text-decoration:none;outline:0;}
.fr{ float:right;}
.fl{ float:left;}

/* header */
.header{ width:100%; position:relative;}
.logoBd{ width:100%; height:144px;background:#d31145;}
.logo{ width:960px; height:86px;margin:0 auto; overflow:hidden}
.logo .pic{ width:580px;heigth:86px; float:left;}
.logo .search{ width:350px;heigth:50px; padding-top:36px; float:right;}
.logo .search .text{ width:256px; height:32px; line-height:32px; border:1px solid #fff; background:none; float:left; color:#fff; padding-left:10px;}
.logo .search .submit{ width:78px; height:34px;border:1px solid #fff; background:url(../images/index_05.jpg) 10px center no-repeat #fff; padding-left:30px; color:#d31145; font-size:14px; line-height:30px; float:left; }
.navgrp{width:960px; height:48px;margin:0 auto; padding-top:10px;}
.nav{ width:960px; height:48px;}
.nav li{ width:106px; height:48px;float:left; position:relative; line-height:48px; text-align:center;}
.nav li a{width:90px; height:48px; display:block;font-size:14px;color:#fff; }
.nav li a:hover{color:#2a3745; background:#fcb038;}
.nav li a.on{color:#2a3745; background:#fcb038;}
.menu a{color:#2a3745!important;background:#fcb038;}
#navChild{ position:absolute;left:0; width:90px; top:43px; display:none; padding-top:5px;z-index:9999999; }
#navChild a{ width:90px; height:30px; line-height:30px; display:block;  text-align:center; font-size:14px; color:#dcdcdc!important; background:#2a3745;}
#navChild a:hover{color:#fcb038!important;}

.banner{ width:100%;height:450px; background:#000; position:relative;}
.bann{width:1600px; height:450px; position:absolute; top:0; left:50%; margin-left:-800px; }
#focus {width:1600px; height:450px; overflow:hidden; position:relative;}
#focus ul {height:450px; position:absolute;}
#focus ul li {float:left; width:1600px; height:450px; overflow:hidden; position:relative;}
#focus .btn {position:absolute; width:100%; height:12px; left:0px; bottom:24px; text-align:center;}

.banner2{ width:100%;height:200px; background:#000; position:relative;}
.bann2{width:1600px; height:200px; position:absolute; top:0; left:50%; margin-left:-800px; }
#focus2 {width:1600px; height:200px; overflow:hidden; position:relative;}
#focus2 ul {height:200px; position:absolute;}
#focus2 ul li {float:left; width:1600px; height:200px; overflow:hidden; position:relative;}
#focus2 .btn {position:absolute; width:100%; height:12px; left:0px; bottom:24px; text-align:center;}


.section{width:100%; height:auto; position:relative;}
.div940{width:940px; padding:10px; margin:0 auto;}
.titleB{position:relative; width:100%; height:60px;  position:relative;color:#d31145; text-transform:uppercase; font-size:16px;line-height:60px;}
.titleB span{ position:absolute; top:0; left:0; height:60px; line-height:60px;}
.more{ position:absolute; width:80px; height:60px; line-height:60px; text-align:right; color:#999; right:0; top:0;}
.more a{ color:#999; font-size:14px;}
.titleB2{position:relative; width:940px; height:60px; line-height:60px; text-align:center; position:relative;color:#fff; text-transform:uppercase; font-size:16px; margin:0 auto;}
.more2{ position:absolute; width:80px; height:60px; line-height:60px; text-align:right; color:#fff; right:0; top:0;}
.more2 a{ color:#fff; font-size:14px;}


.inav{width:960px; height:178px; margin:0 auto;}
.inav ul li{ width:184px;height:178px; padding-left:70px;float:left ;background:url(../images/inavbg.png) 92px bottom no-repeat; position:relative }
.inav ul li a{ width:114px;height:114px; margin-top:30px; display:block ; color:#fff; font-size:12px; border-radius: 50%; background:#d31145; z-index:99; position:absolute;}
.inav ul li a:hover{ background:#fcb038}
.inav ul li a span{ width:114px;height:30px; line-height:30px; text-align:center;font-size:12px; color:#fff; display:block; position:absolute; left:0px; top:77px;}

.comBd{ width:940px; margin-top:-35px;}
.com{ color:#000; line-height:44px; border-top:1px solid #e6ded4; padding-top:15px; font-size:14px; }

.proBg1{ width:100%; height:580px; background:url(../images/probgl.jpg) left bottom no-repeat #d31145;}
.proBg2{ width:100%; height:580px; background:url(../images/probgr.jpg) right top no-repeat; position:relative;}
.picListBd {width:960px;height:580px; margin:0 auto; overflow:hidden;position:relative;}
.picListBd2{position:absolute; left:0px;top:60px;  height:490px;  margin:0 auto; overflow:hidden; background:#d31145}
.picList{ width:940px;height:490px; padding:0 10px; float:left; overflow:hidden;}
.picList li{ vertical-align:bottom; width:300px; height:225px; float:left; margin-right:20px; margin-bottom:20px; position:relative; box-shadow:0px 0px 10px rgba(0,0,0,.5);}
.picList li .title{ display:none; width:265px; height:80px; background:url(../images/probg.png) left top repeat; position:absolute;left:0px; top:0px; padding-top:145px; padding-left:35px;}
.picList li a{ color:#fcb038; font-size:14px; line-height:24px;}
.picList li a span{ color:#d31145; font-size:14px; display:block}
.picLeft,.picRight{ width:41px; height:71px; position:absolute;left:50%; top:270px; cursor:pointer;}
.picLeft{margin-left:-545px;}
.picRight{margin-left:505px;}
.htmlpic2{ position:absolute; left:3000px; top:60px; }

.proList{ width:940px; padding:0 10px; margin:0 auto;}
#proList{width:940px; height:225px;overflow:hidden}
#proListIn{ width:758%;overflow:hidden }
#proList1,#proList2{ float:left;overflow:hidden}
#proList li{ width:300px; height:225px; float:left; margin-right:14px; position:relative}
#proList li .title{ width:265px; height:80px; background:url(../images/probg.png) left top repeat; position:absolute;left:0px; top:0px; display:none;  padding-top:145px; padding-left:35px;}
#proList a{ color:#fcb038; font-size:14px; line-height:24px;}
#proList a span{ color:#d31145; font-size:14px; display:block}


.newsB{ width:620px; height:400px; float:left; padding-right:20px; }
.newsB ul{ background:#fff;}
.newsB li { width:600px; height:46px; line-height:46px; padding-right:20px}
.newsB li  a{ width:570px; height:45px; border-bottom:1px solid #c9c9c9; display:block; float:left; color:#222222; font-size:14px;}
.newsB .time{ float:right; font-size:12px;}
.newsB .biao{ width:30px; height:44px; display:block; float:left; background:url(../images/index_37.jpg)  center center no-repeat;}
.lihover { background:#d31145;}
.lihover  a{border-bottom:1px solid #d31145!important; color:#fff!important;}
.lihover .biao{ width:30px; height:44px; display:block; float:left; background:url(../images/index_33.jpg)  center center no-repeat;}

.contact{ width:300px; height:335px; padding-top:65px; float:left;font-size:14px; color:#000;line-height:38px;}
.contact span{ font-size:26px; color:#222222;background:url(../images/index_30.png) left top no-repeat; width:255px; padding-left:45px; height:44px; line-height:44px; padding-bottom:15px; border-bottom:1px solid #a7a7a7; display:block; font-family:Arial, Helvetica, sans-serif; margin-bottom:5px;}
.contact dl{width:300px; display:block;clear:both;}
.contact dl dt,.contact dl dd{font-size:14px; color:#222222; line-height:38px;}
.contact dl dt{ width:45px; float:left; }
.contact dl dd{width:255px; float:left;}

/* footer*/
.footer{ width:100%; min-height:144px; height:144px; height:auto!important; background:#d31145}
.copyright{width:940px; padding:0 10px;min-height:144px; height:144px;height:auto!important; margin:0 auto; }
.copyrightnr{ width:400px; padding-left:170px;min-height:104px;height:104px; height:auto!important;  font-size:12px; color:#fff; line-height:34px; padding-top:40px;float:left;}
.copyrightnr a{color:#fff}
.copyrightnr a:hover{color:#000}
.qq{ width:270px; height:144px; float:left; padding-left:5px}
.qq li{ width:85px; float:left; height:90px; margin-top:40px; color:#710925; font-size:14px;padding-left:5px; position:relative}
.weixin{ width:74px; height:74px; position:absolute; left:-10px; top:-80px; display:none; border:1px solid #fff;}
.qq li a{ color:#710925; font-size:14px; }
.qq li span{ width:85px; height:30px; line-height:30px; display:block;}
.top{ width:46px; height:46px; float:right; margin-top:-10px;}

/* 分页样式 contact*/
.main{ width:960px; margin:0 auto 20px auto; }
.left_main{ width:300px; float:left; overflow:hidden; padding-right:20px; position:relative}
.leftCon{ width:300px; padding-bottom:15px;padding-top:40px;font-size:14px; color:#000;line-height:38px;}
.leftCon span{ font-size:26px; color:#222222;background:url(../images/index_30.png) left top no-repeat; width:255px; padding-left:45px; height:44px; line-height:44px; padding-bottom:15px; border-bottom:1px solid #a7a7a7; display:block; font-family:Arial, Helvetica, sans-serif; margin-bottom:5px;}
.leftCon dl{width:300px; display:block;clear:both;}
.leftCon dl dt,.leftCon dl dd{font-size:14px; color:#222222; line-height:38px;}
.leftCon dl dt{ width:45px; float:left; }
.leftCon dl dd{width:255px; float:left;}

.leftNews{width:300px; margin-bottom:20px;}
.leftNews li{height:44px;line-height:44px;  border-bottom:1px solid #c9c9c9}
.leftNews li a{ width:285px; height:44px; float:left; display:block; color:#222; font-size:14px;}
.leftNews a:hover{ color:#000;}
.leftNews .biao{ width:15px; height:44px; display:block; background:url(../images/newsbg.jpg)  left center no-repeat; float:left}


.main_con{width:610px; float:left; overflow:hidden}
.titleMain{ width:610px; height:50px; line-height:50px; color:#f2a630; font-size:20px; position:relative; margin:0 auto;}
.main_conPro{width:960px;  float:left; overflow:hidden}
.titleMainPro{ width:940px; height:50px; line-height:50px; color:#f2a630; font-size:20px; position:relative; margin:0 auto;}
.position{ position:absolute; height:50px;line-height:50px;right:0; top:0px; color:#a39f98 }
.position a{ color:#a39f98;}
.position a:hover{ color:#000;}

.proClaBd{ width:938px; line-height:48px; border:1px solid #c9c9c9; margin:0 auto; word-wrap:break-word;
	word-break:break-all;}
.proClaBd a{font-size:14px; color:#f2a630; padding-left:20px;word-wrap:break-word;
	word-break:break-all;display: inline-block;}
.proClaBd a:hover{ color:#eb0046;}
.proClaBd a:on{ color:#eb0046;}
.proClaBd .on{ color:#eb0046;}

.mainConList{width:960px;overflow:hidden; margin:0 auto;}
.mainConList .proListpic{ width:940px;padding:0 10px; padding-top:20px; overflow:hidden}
.mainConList .proListpic li{position:relative;width:300px;height:225px;float:left;margin-right:20px; margin-bottom:20px; overflow:hidden; box-shadow:0px 0px 10px rgba(0,0,0,.5); }
.mainConList .proListpic .title{ width:265px; height:80px; background:url(../images/probg.png) left top repeat; position:absolute;left:0px; top:0px; display:none; padding-top:145px; padding-left:35px;}
.mainConList .proListpic li a{ color:#fcb038; font-size:14px; line-height:24px;}
.mainConList .proListpic li a span{ color:#d31145; font-size:14px; display:block}

.mainConList dl{ width:940px;height:165px; padding:0 10px; margin-top:20px;}
.mainConList .pic2 dt{ width:220px; height:165px; margin-right:20px;float:left; box-shadow:0px 0px 10px rgba(0,0,0,.5);}
.mainConList .pic2 dd{ width:700px;  float:left; height:148px;border-bottom:1px solid #d2d2d2;border-top:1px solid #d2d2d2; line-height:30px; overflow:hidden; line-height:34px; padding-top:15px;}
.mainConList .pic2 dd a{color:#222;font-size:16px; }
.mainConList .pic2 .intro{font-size:12px;color:#999999; }
.mainConList .pic2 .view a{color:#fc6c54;}

.mainConList ul.news{padding-top:20px;clear:both; width:940px;}
.mainConList ul.news li{height:44px;line-height:44px; padding-left:0px!important; border-bottom:1px solid #c9c9c9}
.mainConList ul.news li a{ width:910px; height:44px; float:left; display:block; color:#222; font-size:14px;}
.mainConList ul.news li a:hover{ color:#000;}
.mainConList ul.news li .time{ float:right;font-size:12px;}
.mainConList ul.news .biao{ width:30px; height:44px; display:block; background:url(../images/newsbg.jpg)  center center no-repeat; float:left}

.pglist{ width:100%;clear:both;height:100px;}
.pglist ul{ width:100%;text-align:right; padding-top:40px;}
.pglist ul li{ display:inline-block;*display:inline; *zoom:1; *margin-left:5px;_display:inline; _zoom:1; _margin-left:5px; width:30px;height:30px; line-height:30px; border:1px solid #282828; text-align:center;font-family:Arial;font-size:16px;font-family:'微软雅黑'; background:#282828}
.pglist ul li a{color:#fff; line-height:30px; display:block}
.pglist ul li.home,.pglist ul li.end{ width:60px; height:30px; border:1px  solid #282828;}
.pglist ul li.next,.pglist ul li.last{ width:30px; height:30px; line-height:30px; border:1px  solid #303a44; font-family:'宋体'!important; font-weight:bold;}
.pglist ul li.on{background:#fff;border:1px  solid #d31145;}
.pglist ul li.on a{color:#d31145;}
.pglist ul li.nohover{background:#999999;border:1px  solid #999999;font-family:'微软雅黑';color:#fff}
.pglist ul li.nohover a{color:#fff;}


.mainContectCom{ padding:15px; min-height:606px; height:auto!important; height:606px; line-height:30px;font-size:14px; color:#222; border:1px solid #d2d2d2;word-wrap:break-word;
	word-break:break-all;overflow:hidden; margin-bottom:20px;}
.mainContectCom p{font-size:14px; color:#000;line-height:30px;}

.mainContectCom img{max-width:100%}

.mainContect{ padding:15px 10px; line-height:30px;font-size:14px; color:#000;word-wrap:break-word;
	word-break:break-all;overflow:hidden}
.mainContect p{font-size:14px; color:#000;line-height:30px;}
.mainContect .title{ width:100%; text-align:center; font-size:18px;color:#222;background:none; padding-bottom:10px;}
.mainContect .title span{display:block;color:#999999;font-size:12px;line-height:50px;}
.mainContect .pic{ width:100%; text-align:center;padding:20px 0;}
.mainContect .pic img{margin:0 auto;}
.mainContect .con{ padding:20px 10px; line-height:34px;font-size:14px; color:#000;	word-wrap:break-word;
	word-break:break-all;overflow:hidden}
.mainContect img{max-width:100%}
.mainContect .con p{font-size:14px; color:#333;line-height:34px;	word-wrap:break-word;
	word-break:break-all;}
.mainContect .pgfy{ width:100%;border-top:1px solid #d2d2d2; padding-top:15px;}
.mainContect .pgfyl{width: 624px;float:left;}
.mainContect .pgfyl p{ color:#908c85; line-height:34px;}
.mainContect .pgfyl p a{ color:#908c85;}
.mainContect .pgfyl p a:hover{ color:#222;}
.mainContect .pgfyr{width:100px;float: right;text-align: right;padding-top:30px;}
.mainContect .pgfyr a{ color:#908c85;font-size:14px;}
.mainContect .pgfyr a:hover{ color:#222}

.mainContectComx{ padding:15px; min-height:606px; height:auto!important; height:606px; font-size:14px; color:#222; border:1px solid #d2d2d2;word-wrap:break-word;word-break:break-all;overflow:hidden}
/* hr*/
.hrBox{ width:574px; float:left; min-height:91px; _height:91px; border:1px solid #dbdbdb; margin-bottom:20px; background:#efefef;  } 
.hrBoxL{ width:100px; float:left; text-align:center;  }
.hrBoxL li{ width:100px; min-height:30px; _height:30px; line-height:30px;border-bottom:1px #dbdbdb solid;vertical-align: bottom; font-size:14px;}
.jobName{ width:380px; float:left;}
.hrBtn{ width:100px; float:left; text-align:center; padding-top:3px;}
.hrBoxL li.haode{ border-bottom:none;}
.hrBoxR{ width:473px; float:left; text-align:left; border-left:1px solid #dbdbdb;}
.hrBoxR li{ width:448px; min-height:30px; _height:30px; line-height:30px; border-bottom:1px #dbdbdb solid; padding-left:15px; vertical-align: bottom; padding-right:10px;}
.hrBoxR li.topline{ overflow:hidden; height:30px;font-size:14px;}
.hrBoxR li.topline img{ margin-top:3px;}
.hrBoxR li.haode{ border-bottom:none;font-size:14px;}
.hrBoxR li.bgWhite{font-size:14px;}
.hrTable{ width:554px; float:left; height:440px; background:#efefef; border:1px solid #dbdbdb;margin-left:35px;_margin-left:17px;}
.tableTitle{ width:584px; height:36px; text-align:center; line-height:36px; border-bottom:1px solid #dbdbdb; font-weight:bold;}
.lineOne{ height:30px; line-height:30px; border-bottom:1px solid #dbdbdb; width:614px;}
.lineOneL{ width:94px; float:left; text-align:center; border-right:1px solid #dbdbdb;}
.lineOneR{ width:449px; float:left; padding-left:10px;}
.tableMainL{ width:94px; float:left; border-right:1px solid #dbdbdb; text-align:center;}
.tableMainL li{ width:94px; height:30px; line-height:30px; border-bottom:1px solid #dbdbdb;}
.tableMainR{ width:211px; float:left; border-right:1px solid #dbdbdb; text-align:left; }
.tableMainR li{ width:206px; height:30px; line-height:30px; border-bottom:1px solid #dbdbdb; padding-left:5px; vertical-align: bottom;}
.tableMainR li span{display:inline-block;}
.tableMainRno{ width:212px; float:left; text-align:left;}
.tableMainRno li{ width:207px; height:30px; line-height:30px; border-bottom:1px solid #dbdbdb; padding-left:5px; vertical-align: bottom;}
.tableMainRno li span{display:inline-block;}
.input_hr{ width:126px; height:17px; line-height:17px; padding:0px; vertical-align:middle; font-size:14px; border:1px solid #dbdbdb;}
.sel_hr{ width:130px; height:20px; line-height:20px; padding:0px; vertical-align:middle; font-size:14px; }
.bottomLine{ width:554px; height:123px; border-bottom:1px solid #dbdbdb; }
.lineBootL{ width:94px; height:123px; border-right:1px solid #dbdbdb; text-align:center; float:left;}
.lineBootR{ width:479px; float:left; padding-left:10px;  height:123px;}
.are_hr{ width:400px; height:80px; margin-top:11px;}
.hr_btn{ width:554px; height:31px; line-height:31px;}
.hr_btnL{ width:310px; float:left; border-right:1px solid #dbdbdb; text-align:center; height:31px;}
.hr_btnR{ width:300px; float:left; text-align:center; }
.c_red{ color:#f00;}
.searchred{ color:#f00 !important; margin:0 !important}

/* hr */
.hr{ margin:10px auto; width:95%;font-size:14px;line-height:24px; border:1px #CCC solid;border-collapse: collapse; background:#efefef; }
.hr td{border:1px #CCC solid; border-collapse: collapse; padding:5px;}
.hr input,.hr textarea{ line-height:1.8; border:1px solid #ccc;}
.hr a{ color:#333;}
.hr a:hover{ color:#de0303;}
.hr_btn{width:100px; height:40px; font-size:14px;}
.fl{ float:left}.fr{ float:right}.clear { clear:both;height:0px; overflow:hidden}

/* book*/
.bookx{ clear:both;font-size:14px;}
.bookmain{width:640px; margin:20px auto; height:auto;background:#fff;padding:0 25px ;  }
.bookline{width: 640px; height:20px;float:left; margin-top:10px;}
.book3{ width:575px; margin:0 auto;}
.booktop{ width:575px; height:30px; float:left; background:url(../images/bookico.png) no-repeat 10px 7px; }
.booktop_name{ width:470px; height:30px; float:left; padding-left:30px; line-height:30px; font-weight:bold;font-size:14px;}
.booktop_time{ width:150px; height:30px; float:left; color:#ccc; text-align:right; line-height:30px;}
.bookcontent{ width:555px; min-height:40px; height: auto!important; height:40px;float:left; border:1px solid #d6deef; background:url(../images/bookcontentbg.jpg) repeat-x; background-color:#fff; padding:10px; color:rgb(30,54,1);font-size:14px;}
.bookadmin{ width:585px; height:auto; float:left;}
.bookadmin_top{ width:577px; height:13px; float:left; overflow:hidden}
.bookadmin_mid{ width:555px; min-height:30px; background:#fff; height: auto!important; height:30px; border-left:1px solid #d6deef; border-right:1px solid #d6deef; border-bottom:1px solid #d6deef; float:left; padding:10px; color:rgb(30,54,1);font-size:14px;}
.admintimecol{ color:#5e7194;}
.message{ width:600px; height:auto; padding-left:50px; padding-bottom:30px;}
.message li{ width:500px;height:40px; float:left; margin:0px; padding:0px; cur/sor:pointer; }
.message li input{ height:24px; line-height:24px; width:370px; border:1px solid #ccc;}
.message li p.message_title{ width:100px; height:25px; float:left; text-align:right; line-height:20px;font-size:14px;}
.message li p.message_content{ width:400px; height:25px; float:left;font-size:14px;}
.message li.contentb{ width:500px;height:160px; float:left;font-size:14px;}
.message li.contentb textarea{ width:370px; height:120px; border:1px solid #ccc ;font-size:14px;}
.message li.yzm{ width:260px;height:60px; float:left;font-size:14px;margin-left: 28%;}
.message li p.message_yzminput{ width:100px; height:15px; float:left;font-size:14px;}
.message li p.message_yzminput input{ width:80px;font-size:14px;}
.message li p.message_yzmico{ width:100px; height:40px; float:left;font-size:14px;}
.message li p.message_sub{ width:170px; height:40px; float:left; text-align:right;font-size:14px;}