/****************************************************************
 *																*		
 * 						      代码库							*
 *                        www.dmaku.com							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/

@charset "utf-8";
/* 
	Resets defualt browser settings
	reset.css
*/

#container {
	width:1007px;
	margin-left:79px;
	position:relative;
	z-index:0;
}
#example {
	width:1007px;
	height:172px;
	position:relative;
}
#slides {
	position:absolute;
	top:0px;
	left:0px;
	z-index:100;
}
#slides .slide {
	width:1007px;
	height:172px;
	word-break:break-all;
	word-wrap:break-word;
}
#slides .slide li {
	width:310px;
	height:172px;
	display:block;
back/ground:#F00;
	float:left;
	margin-right:37px;
}
#slides .slide li h4 {
	float:left;
	width:290px;
	color:#8f8f8f;
	height:30px;
	background:url(../images/ssjj.jpg) no-repeat;
	font-family:"微软雅黑";
	font-size:12px;
	line-height:30px;
	padding-left:20px;
}
#slides .slide li p {
	float:left;
	line-height:43px;
	color:#2e2e2d;
	font-family:"微软雅黑";
	font-weight:bold;
	font-size:14px;
}
#slides .slide li p a {
	color:#2e2e2d;
}
#slides .slide li h6 {
	line-height:20px;
	color:#838383;
	font-family:"微软雅黑";
	float:left;
}
#slides .slide li .a1 {
	width:69px;
	height:23px;
	margin-top:10px;
	float:left;
}
#slides .slide li .a1 a {
	width:69px;
	height:23px;
	background:url(../images/h1.jpg) no-repeat;
	display:block;
}
#slides .slide li .a1 a:hover {
	width:69px;
	height:23px;
	background:url(../images/h2.jpg) no-repeat;
	display:block;
}
#slides .next, #slides .prev {
	position: absolute;
	top: 53px;
	left: -61px;
	width: 26px;
	height: 46px;
	display: block;
	z-index: 101;
	background: #F00;
}
.slides_container {
	width:1007px;
	height:172px;
	overflow:hidden;
	position:relative;
}
#frame {
	position:absolute;
	z-index:0;
	width:1007px;
	height:172px;
	top:-3px;
	left:-80px;
}
#slides .next {
	left: 1040px;
	background: #F00;
}
.pagination {
	display:none;
}
.pagination li {
	display:none;
}
.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:none;
	background-position:0 0;
	float:left;
	overflow:hidden;
}
.pagination li.current a {
	background-position:0 -12px;
}
#slides .link {
	display:block;
	margin-top:10px;
	font-weight:800;
}
#slides a {
	color:#606060;
	margin-right:23px;
}
#slides a:hover {
	color:#606060;
	margin-right:23px;
}
