/****************************************************************
 *																*		
 * 						      							*
 *                        							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
body{color:#999;font-family:microsoft yahei,Arial,'微软雅黑';background:#fff }
a{text-decoration:none; color:#999}
a:hover{text-decoration: underline; color:#999}
.iwidth{ width:1080px; margin:0 auto}
.clear{ clear:both} .ohidd{ overflow:hidden;*zoom:1;}
.blue,blue a,.box h5 a,.box h6 a,.box a.more,.crumbs a{ color:#004499}
.keylink,.keylink:link,.keylink:hover,.keylink:active {text-decoration:underline;width:26px; height:22px; line-height:22px; background:#fff; border:1px dotted #aaa;  text-align:center}
textarea{border:1px solid #DCDDDD; background:#fff;clear:both;color:#555;font-size:14px;height:130px;padding:5px 0 0 5px;text-align:left;width:99%; margin-bottom:8px}
.input-text,input.date,input.endDate,.input-focus{border:1px solid #DCDDDD; height:22px; padding:0 0 0 3px}
input.date,input.endDate{background: #fff url(../images/input_date.png) no-repeat right 3px; padding-right:18px;font-size:12px;}

.pad-6{padding:6px; overflow:hidden}.pad-10{padding:10px; overflow:hidden}.pad_10,.pad-lr-10{padding:0 10px}.pad-lr-6{padding:0 6px}

.ib, .ib-li li, .ib-a a, .ib-span span,.btn,.btn input,.photo-hot li,.Article-Tool a ,.photo-list li,.photo-channel .photo-slide .change i,.photo-channel .tool .auto,.photo-channel .tool .up,.photo-channel .tool .next,.photo-cat .content h5 span.blue a,.submit{display:inline-block;zoom:1;*display:inline;}


/* 头部 */
.header,.topbak{  position:relative; height:80px;}
.header{ width:100%; z-index:1000; background:rgba(255,255,255,.8);position: fixed;top: 0;border-bottom: 1px solid #f2f2f2;}
.header .logo{float:left; }
.header .logo a{float:left; height:80px; width:170px; background:url(../images/logo.png) no-repeat 0 0; display:block; text-indent:-999em;}
 

/* 导航 */ 
 
 .nav-site { height:80px; overflow:hidden;*zoom:1; float:right;}
 .nav-site li{float:left; height:80px; line-height:80px;color:#fff; width:100px; text-align:center; position:relative ; z-index:9;}
 .nav-site li a{color:#313131;  font-size:16px; font-family:'微软雅黑'; text-decoration:none; }
 .nav-site li a span{ font-size:16px; }
 .nav-site li a:hover{ color:#66c5b4;}
.nav-site li .ahov{color:#66c5b4;}

 
.nav-site li ol{ width:400px;position:absolute;top:88px; left:0; z-index:99; display:none}
.header .nav-site li ol dd{ float:left; margin:0 3px; line-height:35px;}
.header .nav-site li ol dd a{ line-height:35px; background:url(../images/ico.png) no-repeat 0px 3px; padding-left:10px; color:#555; font-size:12px}



/* main style */
.banner{ height:500px; border-top:1px solid #efeded; margin-top:0px; position:relative;*zoom:1; z-index:99;margin-top: 80px;}
.banner ul li{ height:500px; text-align:center}
.banner ul img{ max-width:100%;}
.banner ul li a{ width:100%; height:445px; display:block; margin:0 auto}
.flex-control-nav {width: 100%; position: absolute; bottom: 22px; height:11px; text-align: center; z-index:9999}
.flex-control-nav  li {margin: 0px 5px ; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging  li a {display: block;width: 11px;height: 11px;cursor: pointer;text-indent: -999em; background:url(../images/dot.png) repeat-x right 0;}
.flex-control-paging  li a.flex-active { background-position:0px 0;}

.tbody{ overflow:hidden;*zoom:1; padding:0 0 20px}
.iservice{ height:428px; overflow:hidden;}

.itdbg{ margin-top:30px;}

.itit{ margin:52px 0 0px;  overflow:hidden;*zoom:1; text-align:center}
.itit h2 {  display:block; color:#6d6d6d;font-size:18px; font-weight:normal;line-height:30px; height:30px; background:url(../images/titbg.jpg) no-repeat center 0;}
.itit span{ color:#9d9d9d; font-family:"Verdana"; margin-right:3px; line-height:25px; }
.servicelist{ margin:33px 0 0; overflow:hidden}
.servicelist li{ width:250px; margin:0 10px; float:left; text-align:center; border-bottom:4px solid #fff; padding-bottom:25px;}
.servicelist li .serico{ height:120px; background:url(../images/web1.png) no-repeat center 0;}
.servicelist li h3{ color:#747474; font-family:Calibri; font-size:20px; margin:8px 0 12px;}
.servicelist li p{ height:45px; line-height:22px; color:#999999; font-size:14px;}
.servicelist li:hover{ border-bottom:4px solid #91d6c9;}
.servicelist li .s1{ background-image:url(../images/web1.png)}
.servicelist li:hover .s1{ background-image:url(../images/web2.png)}
.servicelist li .s2{ background-image:url(../images/graphic1.png)}
.servicelist li:hover .s2{ background-image:url(../images/graphic2.png)}
.servicelist li .s3{ background-image:url(../images/e-bussiness1.png)}
.servicelist li:hover .s3{ background-image:url(../images/e-bussiness2.png)}
.servicelist li .s4{ background-image:url(../images/mail1.png)}
.servicelist li:hover .s4{ background-image:url(../images/mail2.png)}

.icase{ height:462px; background:#f8f8f8; overflow:hidden;}
.icase  .icasetit h2{ color:#66c5b4; font-size:18px; background:none;}
.icase  .icasetit span{ font-size:12px; font-family:Verdana;} 

.icaselist{ margin-top:37px; overflow:hidden;}
.icaselist li{ width:339px; float:left; margin:0 10px;}
.icaselist li .casethumb{ height:181px; position:relative; overflow:hidden;*zoom:1;}
.icaselist li .casethumb a:hover{ text-decoration:none}
.icasemore{ width:165px; margin-left:-83px; line-height:35px; color:#fff; font-family:Verdana; font-size:14px; height:35px; position:absolute; left:50%; background:url(../images/casecur.png) no-repeat 0 0; margin-top:40px; }
.icaselist li .vlock{ display:none; width:339px; height:181px; position:absolute; top:0; left:0; z-index:100; background:url(../images/caselock.png) no-repeat 0 0;}
.icaselist li .vlock p{ color:#fff; font-size:14px; text-align:center; margin-top:120px; height:30px;}
.icasemore:hover{ color:#fff; text-decoration:underline;background-image:url(../images/casehover.png) }
.icaselist li:hover  .vlock{ display:block;}

.inews{  overflow:hidden;}
.inews dl{ margin:50px 0 60px; overflow:hidden}
.inews dt{ float:left; width:234px; margin-right:2px;}
.inews dd{ float:left; height:196px; width:844px;}
.ilistnews{ overflow:hidden;*zoom:1;}
.ilistnews li{ width:50%; height:74px; margin-bottom:40px; float:left}
.ilistnews li span,.showdate span{ display:block; width:74px; height:74px; text-align:center; border-right:1px solid #e3e3e3; float: left; margin-right:16px;}
.ilistnews li span em,.showdate span em{ font-size:18px; color:#999; display:block; font-style:normal}
.ilistnews li span i,.showdate span i{ font-size:36px; color:#66c5b4; font-weight:bold; display:block; font-style:normal; width:100%; height:50px; line-height:50px;}
.btit{ width:330px; float:left; height:74px; overflow:hidden;}
.btit h3 a{ font-size:14px; color:#666; font-weight:normal}
.btit h3 a:hover{ text-decoration:underline}
.btit p{ font-size:12px; color:#a9a9a9; margin-top:10px; line-height:22px;}



/* about */
.main{ width:1000px; margin:0 auto; }
.pagebanner{ height:430px; text-align:center;margin-top: 80px;}
.ncontact{ background:#66c5b4;margin-top: 80px;  }
.contactbg{ overflow:hidden;*zoom:1;height:600px;background:url(../images/contact.png) no-repeat 0 0}
.contactbg table{ margin:320px auto 0; width:830px; color:#ff;}
.contactbg table td{ padding:0 0 0 40px; color:#fff; font-size:16px}
.contactbg a,.contactbg a:hover{ color:#fff;}
.contactbg a:hover{ text-decoration:underline}
.newscom{ height:437px; background:#f0f0f0; overflow:hidden;*zoom:1;margin-top: 80px;}
.nxs{ width:515px; margin:81px 0 0; float:left}
.ncom{ height:276px; width:540px; float:left;margin:81px 0 0 21px; }
.ncom h2{ line-height:35px;}
.ncom h2 a{ font-size:18px; color:#333; font-weight:normal;}
.ncom .ndate{ color:#777777; font-family:Verdana;}
.ncom .desc{ height:125px; line-height:26px; color:#929292; margin:25px 0; padding-right:15px;}
 .share{ float:right; line-height:25px; height:25px; font-size:11px; font-family:Verdana;}
 .share a{ margin:0 5px; background:url(../images/share.jpg) no-repeat 0 center; width:16px; display:inline-block; height:25px;}
 .share a.tqq{ background-position:-27px 0;}
 .share i{ display:inline-block; font-style:normal; height:25px; float:left;}
.ncom .cmore{ background:#66c5b4; float:left; height:25px; width:102px; display:block; float:left; line-height:25px; color:#fff; font-family:Verdana; text-align:center;}


.position{ background:#f0f0f0;  height:44px; margin:0 auto;line-height:44px; color:#666666; font-size:12px; text-align:right}
.curcatname{ color:#ac9f5a}
.position  a{ color:#666666; font-size:12px;}

.main .col-left{width:255px;  float:left; margin-top:-52px;}
.main .col-left h2,.cursubnav,.subnav{background:url(../images/nbg.jpg) no-repeat 0 0; padding-left:50px;}
.main .col-left h2{ background:url(../images/sidebg.jpg) no-repeat 0 0; color:#fff; font-size:16px; font-weight:600;height:54px;  clear:both; line-height:54px; }
.main .col-left .slide{overflow:hidden;_float:left;zoom:1}
.col-right{ float:right; width:710px;  overflow:hidden;*zoom:1; padding-bottom:50px; }
.col-left,.col-right{  margin-bottom:50px;}


/* 新闻频道 */
.nlist{ margin:50px 0 36px; width:1139px; overflow:hidden;}
.nlist li{ float:left; width:300px; color:#666; margin-bottom:10px; margin-right:60px; border-left: 1px solid #e5e5e5; padding:5px 0  5px 18px;  font-size:12px; overflow:hidden;*zoom:1;}
.nlist li h3 a{ color:#666666; font-size:14px; font-weight:normal}

.ldate{ color:#777777; line-height:30px;}
.nlist li .ldesc{ color:#a9a9a9; line-height:24px; height:50px; margin:10px 0 0px;}

.nlist li span{ float:right; color:#999999;}
.nlist li a{ color:#999999;}
.nlist li a:hover{ text-decoration:underline}
.npages{ height:30px; color:#999999; font-size:20px; text-align:center; margin:10px 0 55px;}
.npages span{ color:#333333}

.shownews{ background:#f0f0f0; padding:60px 0 70px;}
.showdate{ width:50px; float:left; }
.showcon{ width:646px; margin:0 30px; float:left}
.showcom{ width:300px; border-left:1px solid #82cec0; padding-bottom:29px; float:left; padding-left:18px;}
.showcon h2{ font-size:20px; color:#66c5b4; margin-bottom:20px; margin-top:3px;}
.showcon .con{ line-height:26px; color:#888; margin-bottom:35px;}
.showcom h3{ color:#66c5b4; font-size:14px;}
.showcom ul{ margin:23px 0 0;}
.showcom ul li{ margin-bottom:15px;}
.showcom ul li h4 a{ color:#666666; font-size:14px; font-weight:normal;}
.showcom li .desc{ color:#a9a9a9; margin:10px 0; line-height:24px;}
.showcom .d{ color:#777;}
.showdate span{ border:0; }
.showdate span i{ font-size:36px;}
.showdate span em{ font-size:16px; color:#999999;}

.s1{ background:url(../images/s1.jpg) no-repeat center 0; height:513px;}
.s2{ height:524px;  background:url(../images/s2.jpg) no-repeat 0 0;}
.s3{ background:url(../images/s3.jpg) no-repeat center 0 #e7e7e7; height:516px;}
.s4{ height:506px;  background:url(../images/s4.jpg) no-repeat center 0;}
.stxt{ position:absolute; line-height:26px;}
.s1 .stxt{ left:602px; top:245px; width:452px; color:#fff;}
.s2 .stxt{ left:68px; top:245px; width:441px; color:#666666;}
.s3 .stxt{ left:522px; top:263px; width:464px; color:#666666;}
.s4 .stxt{ left:51px; top:257px; width:446px; color:#666666;}

.bcf{ background:#fff;padding:10px 10px 20px; width:241px; overflow:hidden;*zoom:1; border-bottom:1px solid #ABDAD2;}
.ncase{ padding:47px 0 0px; background:#f0f0f0; overflow:hidden;margin-top: 80px;}
#caselist{ margin-bottom:48px;}
.ncase li{ padding:0 0 0px; overflow:hidden;*zoom:1; }
.ncase li .thumb{ width:241px;  margin-bottom:10px; position:relative}
.ncase .ctm{ display:none;position:absolute; width:241px; height:100%; background: #66c5b4;opacity:0.6;filter:alpha(opacity=60); z-index:2; left:0; top:0;}
.ncase span.link{ z-index:3; display:none; background:url(../images/link.png) no-repeat 0 0; width:53px; height:53px; position:absolute; top:50%; left:50%; margin:-22px 0 0 -22px;}
.ncase li h3 a{ color:#313131; font-size:14px;}
.ncase li .desc{ color:#7b7b7b; margin:10px 0; line-height:24px; color:#7b7b7b;}
.ncase li .nmore{ color:#66c5b4; font-size:11px; font-family:Verdana}
.ncase li .nmore:hover{ text-decoration:underline}
.ncase li .jt{ background:url(../images/jt1.jpg) no-repeat 0 0; display:block; width:14px; height:14px; float:right;}
.ncase li .thumb a:hover .ctm,.ncase li .thumb a:hover .link{ display:block}
.ncase li h3 a:hover{ text-decoration:underline}
.ncase li .jt:hover{ background-image:url(../images/jt2.jpg);}

.casecon{ padding:37px 0 49px; overflow:hidden;*zoom:1; background:#f0f0f0;margin-top: 80px;}
.simg{ height:470px;}
.casetit{ height:66px; line-height:66px; background:#fff; text-align:right; padding:0 28px;}
.casetit h3{ float: left; font-size:18px; color:#313131; font-weight:normal; }
.casetit span{ background:url(../images/tel.jpg) no-repeat 0 center; padding-left:30px;margin:0 10px;}
.casetit a{ background:url(../images/qq.jpg) no-repeat 0 center; padding-left:25px; }
.casetit a:hover{ text-decoration:underline}
.casetit span,.casetit a{ height:66px; display:inline-block;}
.ccon{ margin:30px 30px 55px; overflow:hidden; color:#999999; line-height:26px;}
.ccon img{ max-width:100%;}
.cview{ display: block; height:35px; width:215px; font-size:14px; line-height:35px; text-align:center; color:#fff; background:url(../images/xqcur.png) no-repeat 0 0; margin:0 auto}
.cview:hover{ color:#fff; text-decoration:underline; background-image:url(../images/xqhover.png) ;}

  
 
/* 分页 */
#pages { padding:14px 0 10px; font-family:Georgia }
#pages a { display:inline-block; height:22px; line-height:22px; color:#999; padding:0 5px}
#pages a.a1 {  padding:0 5px}
#pages a:hover {color:#62a8d5; text-decoration:none }
#pages span { display:inline-block; height:22px; line-height:22px; color:#62a8d5;padding:0 5px}


/* footer style */
.footer{ color:#999;  height:54px; font-size:12px; line-height:54px; border-top:1px solid #d3d3d3;}

.footer p{ text-align:left; display:inline  }
.footer  a{color:#999; font-family:Arial; margin:0 10px ;}
.footer span{}
.totop{ display:none; height:52px; width:52px; background:url(../images/top1.png) no-repeat 0 0; z-index:1000}
.totop:hover{ background-image:url(../images/top2.png)}

/*link*/
.colli li{display:inline-block;zoom:1;*display:inline;overflow:hidden;vertical-align:middle;}
.links{ background:#f8f8f8; color:#888; height:80px; line-height:30px; padding-top:30px;}
.links a{color:#888; margin:0 3px;}

.itemli{ margin:0px 10px;}
.itemli li{padding:10px 0px;}
.itemli li a{background:url(../images/bg_member_1.gif) no-repeat -5px -126px;font-weight:bold; padding-left:14px;color:#004499; font-size:13px;}
.pd_b0{padding-bottom:0px;}
/*内容摘要*/
.summary {background-color:#F6FAFD;border: 1px solid #DCDDDD;font-size: 14px;line-height: 23px;margin: 15px 0 0;padding: 12px 5px 6px;text-align: justify;text-indent: 2em;}

/*copyright*/
.footer1{background:#66c5b4; color:#fff; border-top:0;}
.footer1 a{ color:#fff;}
.footer1 .links a{ margin:5px 2px;}

