/*
|----------------------------------------------------------------------------
| GLOBAL
|----------------------------------------------------------------------------
*/
a {
  color: #75a932;
}
.btn-base {
  background: #75a932;
}
.btn-base:hover {
  background: #5f8a29;
}
.btn-base-alt {
  border: 2px solid #75a932;
  color: #75a932;
}
.btn-base-alt:hover {
  background: #75a932;
}
.btn-base-alt.btn-white:hover {
  color: #75a932;
}
.column-heading .icon:before {
  color: #75a932;
}
/*
|----------------------------------------------------------------------------
| APP FEATURE
|----------------------------------------------------------------------------
*/
.app-feature .features .icon:before {
  color: #75a932;
}
.app-feature .features h5 {
  color: #75a932;
}
/*
|----------------------------------------------------------------------------
| CONTACT
|----------------------------------------------------------------------------
*/
.get-in-touch .phone:before {
  color: #75a932;
}
/*
|----------------------------------------------------------------------------
| FOOTER
|----------------------------------------------------------------------------
*/
.social-sites li a:hover .icon {
  color: #75a932;
}
/******************** FORMS ********************/
.form-control:focus {
  border-color: #75a932;
}
/******************** NAVBAR ********************/
.fog-navbar .navbar-toggle {
  background-color: #75a932;
}
.fog-navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}
.fog-navbar-nav > li > a:hover {
  color: #75a932;
}
.fog-navbar-nav > li.current > a {
  color: #75a932;
}
.fog-navbar-nav > li.nav-btn a {
  border-color: #fff;
  background-color: #75a932;
  color: #fff;
}
.fog-navbar-nav > li.nav-btn a:hover {
  border-color: #5f8a29;
  background-color: #5f8a29;
}
/******************** PRICING TABLE ********************/
.pricing-table-1 .single-table .affirmative:before {
  color: #75a932;
}
.pricing-table-1 .single-table.active .heading {
  background: #75a932;
  color: #fff;
}
.pricing-table-1 .single-table.active .pricing {
  color: #75a932;
}
.pricing-table-2 .single-table .heading {
  background: #75a932;
  color: #fff;
}
.pricing-table-2 .single-table.active {
  background: #75a932;
  border-color: #75a932;
}
.pricing-table-2 .single-table.active .btn {
  color: #75a932;
}
/******************** OWL CONTROLS CUSTOM ********************/
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #75a932;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #75a932;
}
/******************** SERVICE SECTIONS ********************/
.service-item .icon {
  color: #75a932;
}
.service-2 .service-item .icon {
  border-color: #75a932;
}
.service-2 .service-item:hover .icon {
  background: #75a932;
  color: #fff;
}
/******************** TESTIMONIALS ********************/
.testimonial cite {
  color: #75a932;
}
/*
|----------------------------------------------------------------------------
| BACKGROUNDS
|----------------------------------------------------------------------------
*/
.solid-color .overlay {
  background-color: #75a932;
  max-height: 100%;
}
.solid-color.gradient-color .overlay {
  background-image: -webkit-gradient(linear, left top, right top, from(#75a932), to(#3a8c00));
  background-image: -webkit-linear-gradient(left, #75a932, #3a8c00);
  background-image: -moz-linear-gradient(left, #75a932, #3a8c00);
  background-image: -o-linear-gradient(left, #75a932, #3a8c00);
  background-image: linear-gradient(to right, #75a932, #3a8c00);
}
.solid-color.pricing-table-1 .single-table.active .heading {
  background: #547a24;
}
.transparent-color .overlay {
  background-color: rgba(117, 169, 50, 0.9);
  max-height: 100%;
}
.gradient-color .overlay {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(117, 169, 50, 0.7)), to(rgba(58, 140, 0, 0.7)));
  background-image: -webkit-linear-gradient(left, rgba(117, 169, 50, 0.7), rgba(58, 140, 0, 0.7));
  background-image: -moz-linear-gradient(left, rgba(117, 169, 50, 0.7), rgba(58, 140, 0, 0.7));
  background-image: -o-linear-gradient(left, rgba(117, 169, 50, 0.7), rgba(58, 140, 0, 0.7));
  background-image: linear-gradient(to right, rgba(117, 169, 50, 0.7), rgba(58, 140, 0, 0.7));
}
.solid-color.home .btn-base:not(.btn-block),
.transparent-color.home .btn-base:not(.btn-block),
.gradient-color.home .btn-base:not(.btn-block) {
  border-color: #fff;
  background: #fff;
  color: #75a932;
}
.solid-color.home .btn-base:not(.btn-block):hover,
.transparent-color.home .btn-base:not(.btn-block):hover,
.gradient-color.home .btn-base:not(.btn-block):hover {
  background: transparent;
  color: #fff;
}
.solid-color .sub-title,
.transparent-color .sub-title,
.gradient-color .sub-title {
  color: #e0e0e0;
}
