/****************************************************************
 *																*		
 * 						      							*
 *                        							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
.DB_tab25 {width:100%;height:460px;}
.DB_tab25  ul,li{list-style:none;margin:0;padding:0;}
.DB_tab25 .bodys{width:100%;height:460px;overflow:hidden;position:absolute;}
.DB_tab25 .DB_bgSet{position:relative;}
.DB_tab25 .DB_bgSet li{position:absolute;width:100%;height:460px;display:none;}
.DB_tab25 .DB_imgSet{position:absolute;width:988px;left:50%;margin-left:-500px;}


.DB_tab25 .DB_imgSet .DB_1_1{position:absolute;left:273px;top:86px;}
.DB_tab25 .DB_imgSet .DB_1_2{position:absolute;left:162px;top:138px}
.DB_tab25 .DB_imgSet .DB_1_3{position:absolute;left:67px;top:372px}
.DB_tab25 .DB_imgSet .DB_1_4{position:absolute;left:277px;top:371px}
.DB_tab25 .DB_imgSet .DB_1_5{position:absolute;left:470px;top:371px}
.DB_tab25 .DB_imgSet .DB_1_6{position:absolute;left:664px;top:371px}
.DB_tab25 .DB_imgSet .DB_1_7{position:absolute;left:824px;top:371px}


.DB_tab25 .DB_imgSet .DB_2_1{position:absolute;left:674px;top:40px;}
.DB_tab25 .DB_imgSet .DB_2_2{position:absolute;left:472px;top:66px}
.DB_tab25 .DB_imgSet .DB_2_3{position:absolute;left:-64px;top:109px}
.DB_tab25 .DB_imgSet .DB_2_4{position:absolute;left:-64px;top:256px}
.DB_tab25 .DB_imgSet .DB_2_5{position:absolute;left:617px;top:55px}

body{background:#fff}
.DB_tab25 .DB_imgSet .DB_3_1{position:absolute;left:520px;top:120px;}
.DB_tab25 .DB_imgSet .DB_3_2{position:absolute;left:520px;top:200px}
.DB_tab25 .DB_imgSet .DB_3_3{position:absolute;left:-100px;top:0px}

.DB_tab25 .DB_imgSet .DB_4_1{position:absolute;left:120px;top:0px;}
.DB_tab25 .DB_imgSet .DB_4_2{position:absolute;left:540px;top:120px}
.DB_tab25 .DB_imgSet .DB_4_3{position:absolute;left:690px;top:150px}
.DB_tab25 .DB_imgSet .DB_4_4{position:absolute;left:540px;top:250px}
.DB_tab25 .DB_imgSet .DB_4_5{position:absolute;left:770px;top:0px}

.DB_tab25 .DB_imgSet .DB_5_1{position:absolute;left:520px;top:120px;}
.DB_tab25 .DB_imgSet .DB_5_2{position:absolute;left:520px;top:200px}
.DB_tab25 .DB_imgSet .DB_5_3{position:absolute;left:-100px;top:0px}


.DB_tab25 .DB_menuWrap{position:absolute;width:1000px;left:50%;margin-left:-500px; }
.DB_tab25 .DB_menuWrap .DB_menuSet{position:absolute;width:100%;top:435px;text-align:center;font-size:0; border-radius:20px;}
.DB_tab25 .DB_menuWrap .DB_menuSet li{cursor:pointer;margin:0 3px;display:inline}
.DB_tab25 .DB_prev{position:absolute;left:-200px;top:170px;cursor:pointer;display:none;}
.DB_tab25 .DB_next{position:absolute;right:-200px;top:170px;cursor:pointer;display:none; }

