/****************************************************************
 *																*		
 * 						      							*
 *                        							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
/* CSS Document 	behavior: url(../fonts/csshover.htc);*/
/*-------------------------------网页全局------------------------------------------*/
*html,*html body{background-image:url(about:blank);background-attachment:fixed;}
*html .nav{position:absolute;top:expression(eval(document.documentElement.scrollTop));}

BODY {
	FONT-SIZE: 13px;
	margin:0px;
	padding: 0px; font-family:"微软雅黑", "黑体";

	color:#666666;
	margin:0px;
	padding:0px; background-color:#f1f2f4;
	overflow-x: hidden;
	_behavior: url(../images/csshover.htc);
	}
body{background:#fff}

A {
	TEXT-DECORATION: none; color:#535353;  font-size:13px;
}
A:link{color:#4D4D4D; font-size:13px;}
A:visited{color:#4D4D4D;}
A:hover{
	color: #4e626d;

}
A:active{color:#4D4D4D;}
DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; 
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
LABEL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
dl,dd,dt {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.clear {CLEAR: both; line-height:0px; font-size:0px;  height:0px; width:100%;}
.add_body_title{ width:200px; height:20px; line-height:20px; text-align:center;font-family:微软雅黑，黑体; font-size:14px; font-weight:bold;padding-bottom:10px; }
.add_body{ width:240px; height:120px; border:5px solid #DFDFDF; padding: 10px 80px;  background:#FFFFFF; margin-top:200px;line-height:20px; text-align:center;}

/* nav 首页 */
.F_nav{
width:50px;position:fixed;top:300px;right:40px;z-index:1999;padding:0px; margin:0px;border:1px solid #d3d3d3; display:none;
}
.F_nav li{height:56px; width:50px; text-align:center; cursor:pointer; background:url(../images/left.gif);}
.F_nav li:hover{text-decoration:none; }
.F_nav li:last-child{border-bottom:none;}

.F_nav li.pro{background-position:-54px  0;}
.F_nav li.pro:hover{background-position:0px 0px;}
.F_nav li.pro.cur{ background-position:0px 0px;}

.F_nav li.news{background-position:-54px -56px}
.F_nav li.news:hover{background-position:0px -56px}
.F_nav li.news.cur{ background-position:0px -56px}


.F_nav li.ser{background-position:-54px  -113px}
.F_nav li.ser:hover{background-position:0px -113px}
.F_nav li.ser.cur{ background-position:0px -113px}


.F_nav li.con{background-position:-54px  -170px}
.F_nav li.con:hover{background-position:0px -170px}
.F_nav li.con.cur{ background-position:0px -170px}

.F_nav li.job{background-position:-54px  -227px}
.F_nav li.job:hover{background-position:0px -227px}
.F_nav li.job.cur{ background-position:0px -227px}

.F_nav li.Head{background-position:-54px  -284px}
.F_nav li.Head:hover{background-position:0px -284px}

/* box */


/* nav 关于我们 */
.A_nav{
width:53px;position:fixed;top:300px;margin:0;padding:0px; display:none;
left:50%; margin-left:-653px; padding-top:15px; 
z-index:1999; background:url(../images/abouttop_r2_c2.png) no-repeat left top;
}

.A_nav li{height:40px; width:53px;  cursor:pointer; background:url(../images/abouttop_r2_c2.png) no-repeat; }
.A_nav li:hover{text-decoration:none;}


.A_nav li.AHaed{background-position: left -15px;}
.A_nav li.AHaed:hover{background-position:right -15px;}
.A_nav li.AHaed.cur{ background-position:right -15px;}

.A_nav li.news{background-position:left -55px}
.A_nav li.news:hover{background-position:right -55px}
.A_nav li.news.cur{ background-position:right -55px}


.A_nav li.ser{background-position:left -95px}
.A_nav li.ser:hover{background-position:right -95px}
.A_nav li.ser.cur{ background-position:right -95px}


.A_nav li.con{background-position:left  -135px}
.A_nav li.con:hover{background-position:right -135px}
.A_nav li.con.cur{ background-position:right -135px}

.A_nav li.job{background-position:left  -175px}
.A_nav li.job:hover{background-position:right -175px}
.A_nav li.job.cur{ background-position:right -175px}

/* box */

/* nav 我们的服务 */
.S_nav{
width:80px;position:fixed;top:300px;margin:0;padding:0px; line-height:40px; text-align:center; color:#FFFFFF;
left:50%; margin-left:-673px; padding-top:15px; z-index:1999;  display:none;
}
.S_nav li{height:40px; width:80px;  cursor:pointer; background:url(../images/ser_r2_c2.gif) no-repeat left top; margin-bottom:5px; }
.S_nav li:hover{background-position:left bottom; }
.S_nav li.cur{ background-position:left bottom;}





/* box */